In [1]:
## Calulate ATR need high, low, and previous close

In [28]:
import mysql.connector
import pandas as pd
import numpy as np

def load_stockdata(symbol):
    serverName = "localhost"
    cnx = mysql.connector.connect(user='michael', password='Password2017',
                                  host=serverName, database='stock_market')
    cursor = cnx.cursor()
    
    query = "select * from (SELECT effective_date, `adj_high`, `adj_low`, `adj_close` FROM `market.stock_price` WHERE symbol = '{0}' order\
            by effective_date DESC limit 1000) sub order by effective_date ASC".format(symbol)
    
    cursor.execute(query)
    dfsql = pd.DataFrame(cursor.fetchall(), dtype=np.float)
    dfsql.columns = cursor.column_names
    dfsql.set_index('effective_date', inplace=True)
    return dfsql

In [29]:
df = load_stockdata('MSFT')
df.head()

                 adj_high    adj_low  adj_close
effective_date
2014-02-27      34.447387  33.847353  34.420112
2014-02-28      34.965597  34.383747  34.829226
2014-03-03      34.665581  34.088276  34.347381
2014-03-04      34.983780  34.611032  34.920140
2014-03-05      34.792770  34.483752  34.647398

In [26]:
df['h_l'] = df['adj_high'] - df ['adj_low']
df['h_pc'] = abs(df['adj_high'] - df ['adj_close'].shift(1))
df['l_pc'] = abs(df['adj_low'] - df ['adj_close'].shift(1))
df['TR'] = df[['h_l','h_pc','l_pc']].max(axis=1)
df.head(10)

,adj_high,adj_low,adj_close,h_l,h_pc,l_pc,TR
effective_date,,,,,,,
2014-02-25,34.411021,33.956450,34.129187,0.454571,NaN,NaN,0.454571
2014-02-26,34.311015,33.810987,34.065547,0.500028,0.181828,0.318200,0.500028
2014-02-27,34.447387,33.847353,34.420112,0.600034,0.381840,0.218194,0.600034
2014-02-28,34.965597,34.383747,34.829226,0.581850,0.545485,0.036365,0.581850
2014-03-03,34.665581,34.088276,34.347381,0.577305,0.163645,0.740950,0.740950
2014-03-04,34.983780,34.611032,34.920140,0.372748,0.636399,0.263651,0.636399
2014-03-05,34.792770,34.483752,34.647398,0.309018,0.127370,0.436388,0.436388
2014-03-06,34.765586,34.447387,34.683764,0.318199,0.118188,0.200011,0.318199
2014-03-07,34.874683,34.265558,34.456478,0.609125,0.190919,0.418206,0.609125
2014-03-10,34.556484,34.292832,34.383747,0.263652,0.100006,0.163646,0.263652

## 10 dsys ATR by
- get SMA for the first 10 days
- then apply formula [(Prior ATR * (period-1)) + Current TR] / period

In [27]:
# get the first SMA for the rolling windows
period = 10
rolling = df[:period]["TR"].rolling(period)
#rolling.mean()

# combine the first SMA with the rest close adj price

tr_con = pd.concat([rolling.mean(), df[period:]['TR']])
df['tr_con'] = tr_con
atr_cal = (df['tr_con'].shift(1) * (period-1) + df['tr_con']) / period
df['atr_cal'] = atr_cal
df['atr'] = pd.concat([tr_con[:period], atr_cal[period:]])

df.head(20)

#dfewma = dfewma.where((pd.notnull(dfewma)),None)
#dfewma.head(30)

,adj_high,adj_low,adj_close,h_l,h_pc,l_pc,TR,tr_con,atr_cal,atr
effective_date,,,,,,,,,,
2014-02-25,34.411021,33.956450,34.129187,0.454571,NaN,NaN,0.454571,NaN,NaN,NaN
2014-02-26,34.311015,33.810987,34.065547,0.500028,0.181828,0.318200,0.500028,NaN,NaN,NaN
2014-02-27,34.447387,33.847353,34.420112,0.600034,0.381840,0.218194,0.600034,NaN,NaN,NaN
2014-02-28,34.965597,34.383747,34.829226,0.581850,0.545485,0.036365,0.581850,NaN,NaN,NaN
2014-03-03,34.665581,34.088276,34.347381,0.577305,0.163645,0.740950,0.740950,NaN,NaN,NaN
2014-03-04,34.983780,34.611032,34.920140,0.372748,0.636399,0.263651,0.636399,NaN,NaN,NaN
2014-03-05,34.792770,34.483752,34.647398,0.309018,0.127370,0.436388,0.436388,NaN,NaN,NaN
2014-03-06,34.765586,34.447387,34.683764,0.318199,0.118188,0.200011,0.318199,NaN,NaN,NaN
2014-03-07,34.874683,34.265558,34.456478,0.609125,0.190919,0.418206,0.609125,NaN,NaN,NaN
2014-03-10,34.556484,34.292832,34.383747,0.263652,0.100006,0.163646,0.263652,0.514120,NaN,0.514120
2014-03-11,34.756495,34.292832,34.565575,0.463663,0.372748,0.090915,0.463663,0.463663,0.509074,0.509074
2014-03-12,34.938323,34.356472,34.792861,0.581851,0.372748,0.209103,0.581851,0.581851,0.475482,0.475482
2014-03-13,34.956506,34.221374,34.447387,0.735132,0.163645,0.571487,0.735132,0.735132,0.597179,0.597179
2014-03-14,34.670126,34.098094,34.274650,0.572032,0.222739,0.349293,0.572032,0.572032,0.718822,0.718822
2014-03-17,34.920140,34.356472,34.592849,0.563668,0.645490,0.081822,0.645490,0.645490,0.579378,0.579378
2014-03-18,36.274762,34.747403,35.956562,1.527359,1.681913,0.154554,1.681913,1.681913,0.749132,0.749132
2014-03-19,35.956562,35.374711,35.702002,0.581851,0.000000,0.581851,0.581851,0.581851,1.571907,1.571907
2014-03-20,36.955709,35.674728,36.665693,1.280981,1.253707,0.027274,1.280981,1.280981,0.651764,0.651764
2014-03-21,37.220269,36.374767,36.511139,0.845502,0.554576,0.290926,0.845502,0.845502,1.237433,1.237433
2014-03-24,36.947527,36.238396,36.820247,0.709131,0.436388,0.272743,0.709131,0.709131,0.831865,0.831865

## function for Keltner Chennals

In [38]:
def process_keltnerchannels(df):
    
    # ==> 20 days EWMA
    ema_period = 20
    ema_rolling = df[:ema_period]["adj_close"].rolling(ema_period)

    # combine the first SMA with the rest close adj price
    ema_con = pd.concat([ema_rolling.mean(), df[ema_period:]['adj_close']])
    #con.head(30)

    df['ema_con'] = ema_con
    df['ema20'] = ema_con.ewm(span=ema_period, adjust=False).mean()
    
    # ==> 10 days ATR
    atr_period = 10

    # prepare TR for each day
    df['h_l'] = df['adj_high'] - df ['adj_low']
    df['h_pc'] = abs(df['adj_high'] - df ['adj_close'].shift(1))
    df['l_pc'] = abs(df['adj_low'] - df ['adj_close'].shift(1))
    df['TR'] = df[['h_l','h_pc','l_pc']].max(axis=1)

    # get the first SMA for the rolling windows
    atr_rolling = df[:atr_period]["TR"].rolling(atr_period)

    # combine the first SMA with the rest close adj price
    tr_con = pd.concat([atr_rolling.mean(), df[atr_period:]['TR']])
    df['tr_con'] = tr_con
    atr_cal = (df['tr_con'].shift(1) * (atr_period-1) + df['tr_con']) / atr_period
    df['atr_cal'] = atr_cal
    # merge the first SMA with the rest ATR
    df['atr10'] = pd.concat([tr_con[:atr_period], atr_cal[atr_period:]])


    # ==> assign upper/lower band
    df['atr1_upper'] = df['ema20'] + df['atr10'] 
    df['atr1_lower'] = df['ema20'] - df['atr10']
    df['atr2_upper'] = df['ema20'] + df['atr10'] * 2
    df['atr2_lower'] = df['ema20'] - df['atr10'] * 2
    df['atr3_upper'] = df['ema20'] + df['atr10'] * 3
    df['atr3_lower'] = df['ema20'] - df['atr10'] * 3

    return df;

In [40]:
df_kc = process_keltnerchannels(df)
df_kc.head(30)

,adj_high,adj_low,adj_close,ema_con,ema20,h_l,h_pc,l_pc,TR,tr_con,atr_cal,atr10,atr1_upper,atr1_lower,atr2_upper,atr2_lower,atr3_upper,atr3_lower
effective_date,,,,,,,,,,,,,,,,,,
2014-02-27,34.447387,33.847353,34.420112,NaN,NaN,0.600034,NaN,NaN,0.600034,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2014-02-28,34.965597,34.383747,34.829226,NaN,NaN,0.581850,0.545485,0.036365,0.581850,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2014-03-03,34.665581,34.088276,34.347381,NaN,NaN,0.577305,0.163645,0.740950,0.740950,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2014-03-04,34.983780,34.611032,34.920140,NaN,NaN,0.372748,0.636399,0.263651,0.636399,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2014-03-05,34.792770,34.483752,34.647398,NaN,NaN,0.309018,0.127370,0.436388,0.436388,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2014-03-06,34.765586,34.447387,34.683764,NaN,NaN,0.318199,0.118188,0.200011,0.318199,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2014-03-07,34.874683,34.265558,34.456478,NaN,NaN,0.609125,0.190919,0.418206,0.609125,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2014-03-10,34.556484,34.292832,34.383747,NaN,NaN,0.263652,0.100006,0.163646,0.263652,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2014-03-11,34.756495,34.292832,34.565575,NaN,NaN,0.463663,0.372748,0.090915,0.463663,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2014-03-12,34.938323,34.356472,34.792861,NaN,NaN,0.581851,0.372748,0.209103,0.581851,0.523211,NaN,0.523211,NaN,NaN,NaN,NaN,NaN,NaN
2014-03-13,34.956506,34.221374,34.447387,NaN,NaN,0.735132,0.163645,0.571487,0.735132,0.735132,0.544403,0.544403,NaN,NaN,NaN,NaN,NaN,NaN
2014-03-14,34.670126,34.098094,34.274650,NaN,NaN,0.572032,0.222739,0.349293,0.572032,0.572032,0.718822,0.718822,NaN,NaN,NaN,NaN,NaN,NaN
2014-03-17,34.920140,34.356472,34.592849,NaN,NaN,0.563668,0.645490,0.081822,0.645490,0.645490,0.579378,0.579378,NaN,NaN,NaN,NaN,NaN,NaN
2014-03-18,36.274762,34.747403,35.956562,NaN,NaN,1.527359,1.681913,0.154554,1.681913,1.681913,0.749132,0.749132,NaN,NaN,NaN,NaN,NaN,NaN
2014-03-19,35.956562,35.374711,35.702002,NaN,NaN,0.581851,0.000000,0.581851,0.581851,0.581851,1.571907,1.571907,NaN,NaN,NaN,NaN,NaN,NaN
2014-03-20,36.955709,35.674728,36.665693,NaN,NaN,1.280981,1.253707,0.027274,1.280981,1.280981,0.651764,0.651764,NaN,NaN,NaN,NaN,NaN,NaN
2014-03-21,37.220269,36.374767,36.511139,NaN,NaN,0.845502,0.554576,0.290926,0.845502,0.845502,1.237433,1.237433,NaN,NaN,NaN,NaN,NaN,NaN
2014-03-24,36.947527,36.238396,36.820247,NaN,NaN,0.709131,0.436388,0.272743,0.709131,0.709131,0.831865,0.831865,NaN,NaN,NaN,NaN,NaN,NaN
2014-03-25,37.265727,36.329219,36.674784,NaN,NaN,0.936508,0.445480,0.491028,0.936508,0.936508,0.731869,0.731869,NaN,NaN,NaN,NaN,NaN,NaN
2014-03-26,37.006621,36.002019,36.174756,35.193338,35.193338,1.004602,0.331837,0.672765,1.004602,1.004602,0.943317,0.943317,36.136655,34.250020,37.079972,33.306703,38.023290,32.363385
2014-03-27,36.338402,35.765642,35.783825,35.783825,35.249574,0.572760,0.163646,0.409114,0.572760,0.572760,0.961418,0.961418,36.210992,34.288157,37.172410,33.326739,38.133828,32.365321
2014-03-28,36.942981,36.074751,36.638419,36.638419,35.381845,0.868230,1.159156,0.290926,1.159156,1.159156,0.631400,0.631400,36.013245,34.750446,36.644645,34.119046,37.276044,33.487647
2014-03-31,37.729389,36.729333,37.265727,37.265727,35.561263,1.000056,1.090970,0.090914,1.090970,1.090970,1.152337,1.152337,36.713600,34.408925,37.865937,33.256588,39.018275,32.104250
2014-04-01,37.811212,37.338458,37.656658,37.656658,35.760824,0.472754,0.545485,0.072731,0.545485,0.545485,1.036421,1.036421,36.797246,34.724403,37.833667,33.687981,38.870089,32.651560
2014-04-02,37.874852,37.429372,37.593018,37.593018,35.935319,0.445480,0.218194,0.227286,0.445480,0.445480,0.535484,0.535484,36.470803,35.399834,37.006288,34.864350,37.541772,34.328865
2014-04-03,37.538469,37.011167,37.283909,37.283909,36.063756,0.527302,0.054549,0.581851,0.581851,0.581851,0.459117,0.459117,36.522873,35.604639,36.981990,35.145522,37.441107,34.686405
2014-04-04,37.629383,36.038385,36.247488,36.247488,36.081254,1.590998,0.345474,1.245524,1.590998,1.590998,0.682766,0.682766,36.764020,35.398489,37.446786,34.715723,38.129551,34.032957
2014-04-07,36.611144,36.129299,36.183848,36.183848,36.091025,0.481845,0.363656,0.118189,0.481845,0.481845,1.480083,1.480083,37.571108,34.610942,39.051190,33.130860,40.531273,31.650777
2014-04-08,36.302036,35.638363,36.202030,36.202030,36.101597,0.663673,0.118188,0.545485,0.663673,0.663673,0.500028,0.500028,36.601625,35.601569,37.101653,35.101541,37.601680,34.601514
2014-04-09,36.865704,36.256579,36.792973,36.792973,36.167442,0.609125,0.663674,0.054549,0.663674,0.663674,0.663673,0.663673,36.831115,35.503769,37.494789,34.840096,38.158462,34.176423