In [1]:
## Calulate ATR need high, low, and previous close

In [41]:
import mysql.connector
import pandas as pd
import numpy as np

def load_stockdata(symbol):
    serverName = "localhost"
    cnx = mysql.connector.connect(user='michael', password='Password2017',
                                  host=serverName, database='stock_market')
    cursor = cnx.cursor()
    
    query = "select * from (SELECT effective_date, `adj_high`, `adj_low`, `adj_close` FROM `market.stock_price` \
            WHERE symbol = '{0}' and effective_date >= '2017-01-01' order \
            by effective_date DESC limit 1000) sub order by effective_date ASC".format(symbol)
    
    cursor.execute(query)
    dfsql = pd.DataFrame(cursor.fetchall(), dtype=np.float)
    dfsql.columns = cursor.column_names
    dfsql.set_index('effective_date', inplace=True)
    return dfsql

In [53]:
df = load_stockdata('AAPL')
df.head()

                  adj_high     adj_low   adj_close
effective_date
2017-01-03      114.893155  113.342546  114.715378
2017-01-04      115.070931  114.320318  114.586983
2017-01-05      115.420756  114.379577  115.169696
2017-01-06      116.700551  115.031425  116.453639
2017-01-09      117.954865  116.483269  117.520300

In [54]:
df['h_l'] = df['adj_high'] - df ['adj_low']
df['h_pc'] = abs(df['adj_high'] - df ['adj_close'].shift(1))
df['l_pc'] = abs(df['adj_low'] - df ['adj_close'].shift(1))
df['TR'] = df[['h_l','h_pc','l_pc']].max(axis=1)
df.head(30)

,adj_high,adj_low,adj_close,h_l,h_pc,l_pc,TR
effective_date,,,,,,,
2017-01-03,114.893155,113.342546,114.715378,1.550609,NaN,NaN,1.550609
2017-01-04,115.070931,114.320318,114.586983,0.750613,0.355553,0.395060,0.750613
2017-01-05,115.420756,114.379577,115.169696,1.041179,0.833773,0.207406,1.041179
2017-01-06,116.700551,115.031425,116.453639,1.669126,1.530855,0.138271,1.669126
2017-01-09,117.954865,116.483269,117.520300,1.471596,1.501226,0.029630,1.501226
2017-01-10,117.905483,116.838822,117.638817,1.066661,0.385183,0.681478,1.066661
2017-01-11,118.448689,117.135117,118.270913,1.313572,0.809872,0.503700,1.313572
2017-01-12,117.826471,116.749934,117.777088,1.076537,0.444442,1.520979,1.520979
2017-01-13,118.142518,117.342523,117.569682,0.799995,0.365430,0.434565,0.799995
2017-01-17,118.754860,116.759810,118.517825,1.995050,1.185178,0.809872,1.995050
2017-01-18,119.011649,118.231407,118.507948,0.780242,0.493824,0.286418,0.780242
2017-01-19,118.606713,117.895606,118.300542,0.711107,0.098765,0.612342,0.711107
2017-01-20,118.962267,118.255703,118.517825,0.706564,0.661725,0.044839,0.706564
2017-01-23,119.317820,118.290666,118.596837,1.027154,0.799995,0.227159,1.027154
2017-01-24,118.616590,118.024000,118.488195,0.592590,0.019753,0.572837,0.592590
2017-01-25,120.591887,118.794366,120.374604,1.797521,2.103692,0.306171,2.103692
2017-01-26,120.927687,120.098062,120.433863,0.829625,0.553083,0.276542,0.829625
2017-01-27,120.838799,120.098062,120.443739,0.740737,0.404936,0.335801,0.740737
2017-01-30,120.127692,119.169673,120.127692,0.958019,0.316047,1.274066,1.274066
2017-01-31,119.890656,119.130167,119.851150,0.760489,0.237036,0.997525,0.997525
2017-02-01,128.878258,125.441241,127.159749,3.437017,9.027108,5.590091,9.027108
2017-02-02,127.791844,126.201730,126.942467,1.590114,0.632095,0.958019,1.590114
2017-02-03,127.594315,126.577037,127.485673,1.017278,0.651848,0.365430,1.017278
2017-02-06,128.888134,127.307897,128.680728,1.580237,1.402461,0.177776,1.580237
2017-02-07,130.458496,128.838752,129.905412,1.619744,1.777768,0.158024,1.777768
2017-02-08,130.586890,129.599241,130.409113,0.987649,0.681478,0.306171,0.987649
2017-02-09,131.372177,130.057909,131.347379,1.314268,0.963064,0.351204,1.314268
2017-02-10,131.863167,130.980376,131.049809,0.882791,0.515788,0.367003,0.882791
2017-02-13,132.736039,131.674706,132.210332,1.061333,1.686230,0.624897,1.686230
2017-02-14,133.995752,132.170656,133.926319,1.825096,1.785420,0.039676,1.825096

## 10 dsys ATR by
- get SMA for the first 10 days
- then apply formula [(Prior ATR * (period-1)) + Current TR] / period

In [68]:
# get the first SMA for the rolling windows
period = 14
rolling = df[:period]["TR"].rolling(period)
#rolling.mean()

# combine the first SMA with the rest close adj price

tr_con = pd.concat([rolling.mean(), df[period:]['TR']])
df['tr_con'] = tr_con

for i in range(1, len(tr_con)):
    if (not pd.isnull(tr_con[i-1])):
        tr_con[i] = ( tr_con[i-1] * (period-1) + tr_con[i] ) / period

# tr_con has been trasformed to ATR
df['atr'] = tr_con
df['ema'] = df['tr_con'].ewm(span=period, adjust=False).mean()

df.head(30)

#dfewma = dfewma.where((pd.notnull(dfewma)),None)
#dfewma.head(30)

,adj_high,adj_low,adj_close,h_l,h_pc,l_pc,TR,tr_con,atr,ema
effective_date,,,,,,,,,,
2017-01-03,114.893155,113.342546,114.715378,1.550609,NaN,NaN,1.550609,NaN,NaN,NaN
2017-01-04,115.070931,114.320318,114.586983,0.750613,0.355553,0.395060,0.750613,NaN,NaN,NaN
2017-01-05,115.420756,114.379577,115.169696,1.041179,0.833773,0.207406,1.041179,NaN,NaN,NaN
2017-01-06,116.700551,115.031425,116.453639,1.669126,1.530855,0.138271,1.669126,NaN,NaN,NaN
2017-01-09,117.954865,116.483269,117.520300,1.471596,1.501226,0.029630,1.501226,NaN,NaN,NaN
2017-01-10,117.905483,116.838822,117.638817,1.066661,0.385183,0.681478,1.066661,NaN,NaN,NaN
2017-01-11,118.448689,117.135117,118.270913,1.313572,0.809872,0.503700,1.313572,NaN,NaN,NaN
2017-01-12,117.826471,116.749934,117.777088,1.076537,0.444442,1.520979,1.520979,NaN,NaN,NaN
2017-01-13,118.142518,117.342523,117.569682,0.799995,0.365430,0.434565,0.799995,NaN,NaN,NaN
2017-01-17,118.754860,116.759810,118.517825,1.995050,1.185178,0.809872,1.995050,NaN,NaN,NaN
2017-01-18,119.011649,118.231407,118.507948,0.780242,0.493824,0.286418,0.780242,NaN,NaN,NaN
2017-01-19,118.606713,117.895606,118.300542,0.711107,0.098765,0.612342,0.711107,NaN,NaN,NaN
2017-01-20,118.962267,118.255703,118.517825,0.706564,0.661725,0.044839,0.706564,NaN,NaN,NaN
2017-01-23,119.317820,118.290666,118.596837,1.027154,0.799995,0.227159,1.027154,1.173863,1.173863,1.173863
2017-01-24,118.616590,118.024000,118.488195,0.592590,0.019753,0.572837,0.592590,0.592590,1.132343,1.096360
2017-01-25,120.591887,118.794366,120.374604,1.797521,2.103692,0.306171,2.103692,2.103692,1.201725,1.230671
2017-01-26,120.927687,120.098062,120.433863,0.829625,0.553083,0.276542,0.829625,0.829625,1.175147,1.177198
2017-01-27,120.838799,120.098062,120.443739,0.740737,0.404936,0.335801,0.740737,0.740737,1.144117,1.119003
2017-01-30,120.127692,119.169673,120.127692,0.958019,0.316047,1.274066,1.274066,1.274066,1.153399,1.139678
2017-01-31,119.890656,119.130167,119.851150,0.760489,0.237036,0.997525,0.997525,0.997525,1.142266,1.120724
2017-02-01,128.878258,125.441241,127.159749,3.437017,9.027108,5.590091,9.027108,9.027108,1.705469,2.174909
2017-02-02,127.791844,126.201730,126.942467,1.590114,0.632095,0.958019,1.590114,1.590114,1.697229,2.096936
2017-02-03,127.594315,126.577037,127.485673,1.017278,0.651848,0.365430,1.017278,1.017278,1.648661,1.952982
2017-02-06,128.888134,127.307897,128.680728,1.580237,1.402461,0.177776,1.580237,1.580237,1.643774,1.903282
2017-02-07,130.458496,128.838752,129.905412,1.619744,1.777768,0.158024,1.777768,1.777768,1.653345,1.886547
2017-02-08,130.586890,129.599241,130.409113,0.987649,0.681478,0.306171,0.987649,0.987649,1.605795,1.766694
2017-02-09,131.372177,130.057909,131.347379,1.314268,0.963064,0.351204,1.314268,1.314268,1.584972,1.706371
2017-02-10,131.863167,130.980376,131.049809,0.882791,0.515788,0.367003,0.882791,0.882791,1.534816,1.596560
2017-02-13,132.736039,131.674706,132.210332,1.061333,1.686230,0.624897,1.686230,1.686230,1.545631,1.608516
2017-02-14,133.995752,132.170656,133.926319,1.825096,1.785420,0.039676,1.825096,1.825096,1.565593,1.637393

## function for Keltner Chennals

In [38]:
def process_keltnerchannels(df):
    
    # ==> 20 days EWMA
    ema_period = 20
    ema_rolling = df[:ema_period]["adj_close"].rolling(ema_period)

    # combine the first SMA with the rest close adj price
    ema_con = pd.concat([ema_rolling.mean(), df[ema_period:]['adj_close']])
    #con.head(30)

    df['ema_con'] = ema_con
    df['ema20'] = ema_con.ewm(span=ema_period, adjust=False).mean()
    
    # ==> 10 days ATR
    atr_period = 10

    # prepare TR for each day
    df['h_l'] = df['adj_high'] - df ['adj_low']
    df['h_pc'] = abs(df['adj_high'] - df ['adj_close'].shift(1))
    df['l_pc'] = abs(df['adj_low'] - df ['adj_close'].shift(1))
    df['TR'] = df[['h_l','h_pc','l_pc']].max(axis=1)

    # get the first SMA for the rolling windows
    atr_rolling = df[:atr_period]["TR"].rolling(atr_period)

    # combine the first SMA with the rest close adj price
    tr_con = pd.concat([atr_rolling.mean(), df[atr_period:]['TR']])
    df['tr_con'] = tr_con
    atr_cal = (df['tr_con'].shift(1) * (atr_period-1) + df['tr_con']) / atr_period
    df['atr_cal'] = atr_cal
    # merge the first SMA with the rest ATR
    df['atr10'] = pd.concat([tr_con[:atr_period], atr_cal[atr_period:]])


    # ==> assign upper/lower band
    df['atr1_upper'] = df['ema20'] + df['atr10'] 
    df['atr1_lower'] = df['ema20'] - df['atr10']
    df['atr2_upper'] = df['ema20'] + df['atr10'] * 2
    df['atr2_lower'] = df['ema20'] - df['atr10'] * 2
    df['atr3_upper'] = df['ema20'] + df['atr10'] * 3
    df['atr3_lower'] = df['ema20'] - df['atr10'] * 3

    return df;

In [40]:
df_kc = process_keltnerchannels(df)
df_kc.head(30)

,adj_high,adj_low,adj_close,ema_con,ema20,h_l,h_pc,l_pc,TR,tr_con,atr_cal,atr10,atr1_upper,atr1_lower,atr2_upper,atr2_lower,atr3_upper,atr3_lower
effective_date,,,,,,,,,,,,,,,,,,
2014-02-27,34.447387,33.847353,34.420112,NaN,NaN,0.600034,NaN,NaN,0.600034,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2014-02-28,34.965597,34.383747,34.829226,NaN,NaN,0.581850,0.545485,0.036365,0.581850,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2014-03-03,34.665581,34.088276,34.347381,NaN,NaN,0.577305,0.163645,0.740950,0.740950,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2014-03-04,34.983780,34.611032,34.920140,NaN,NaN,0.372748,0.636399,0.263651,0.636399,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2014-03-05,34.792770,34.483752,34.647398,NaN,NaN,0.309018,0.127370,0.436388,0.436388,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2014-03-06,34.765586,34.447387,34.683764,NaN,NaN,0.318199,0.118188,0.200011,0.318199,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2014-03-07,34.874683,34.265558,34.456478,NaN,NaN,0.609125,0.190919,0.418206,0.609125,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2014-03-10,34.556484,34.292832,34.383747,NaN,NaN,0.263652,0.100006,0.163646,0.263652,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2014-03-11,34.756495,34.292832,34.565575,NaN,NaN,0.463663,0.372748,0.090915,0.463663,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2014-03-12,34.938323,34.356472,34.792861,NaN,NaN,0.581851,0.372748,0.209103,0.581851,0.523211,NaN,0.523211,NaN,NaN,NaN,NaN,NaN,NaN
2014-03-13,34.956506,34.221374,34.447387,NaN,NaN,0.735132,0.163645,0.571487,0.735132,0.735132,0.544403,0.544403,NaN,NaN,NaN,NaN,NaN,NaN
2014-03-14,34.670126,34.098094,34.274650,NaN,NaN,0.572032,0.222739,0.349293,0.572032,0.572032,0.718822,0.718822,NaN,NaN,NaN,NaN,NaN,NaN
2014-03-17,34.920140,34.356472,34.592849,NaN,NaN,0.563668,0.645490,0.081822,0.645490,0.645490,0.579378,0.579378,NaN,NaN,NaN,NaN,NaN,NaN
2014-03-18,36.274762,34.747403,35.956562,NaN,NaN,1.527359,1.681913,0.154554,1.681913,1.681913,0.749132,0.749132,NaN,NaN,NaN,NaN,NaN,NaN
2014-03-19,35.956562,35.374711,35.702002,NaN,NaN,0.581851,0.000000,0.581851,0.581851,0.581851,1.571907,1.571907,NaN,NaN,NaN,NaN,NaN,NaN
2014-03-20,36.955709,35.674728,36.665693,NaN,NaN,1.280981,1.253707,0.027274,1.280981,1.280981,0.651764,0.651764,NaN,NaN,NaN,NaN,NaN,NaN
2014-03-21,37.220269,36.374767,36.511139,NaN,NaN,0.845502,0.554576,0.290926,0.845502,0.845502,1.237433,1.237433,NaN,NaN,NaN,NaN,NaN,NaN
2014-03-24,36.947527,36.238396,36.820247,NaN,NaN,0.709131,0.436388,0.272743,0.709131,0.709131,0.831865,0.831865,NaN,NaN,NaN,NaN,NaN,NaN
2014-03-25,37.265727,36.329219,36.674784,NaN,NaN,0.936508,0.445480,0.491028,0.936508,0.936508,0.731869,0.731869,NaN,NaN,NaN,NaN,NaN,NaN
2014-03-26,37.006621,36.002019,36.174756,35.193338,35.193338,1.004602,0.331837,0.672765,1.004602,1.004602,0.943317,0.943317,36.136655,34.250020,37.079972,33.306703,38.023290,32.363385
2014-03-27,36.338402,35.765642,35.783825,35.783825,35.249574,0.572760,0.163646,0.409114,0.572760,0.572760,0.961418,0.961418,36.210992,34.288157,37.172410,33.326739,38.133828,32.365321
2014-03-28,36.942981,36.074751,36.638419,36.638419,35.381845,0.868230,1.159156,0.290926,1.159156,1.159156,0.631400,0.631400,36.013245,34.750446,36.644645,34.119046,37.276044,33.487647
2014-03-31,37.729389,36.729333,37.265727,37.265727,35.561263,1.000056,1.090970,0.090914,1.090970,1.090970,1.152337,1.152337,36.713600,34.408925,37.865937,33.256588,39.018275,32.104250
2014-04-01,37.811212,37.338458,37.656658,37.656658,35.760824,0.472754,0.545485,0.072731,0.545485,0.545485,1.036421,1.036421,36.797246,34.724403,37.833667,33.687981,38.870089,32.651560
2014-04-02,37.874852,37.429372,37.593018,37.593018,35.935319,0.445480,0.218194,0.227286,0.445480,0.445480,0.535484,0.535484,36.470803,35.399834,37.006288,34.864350,37.541772,34.328865
2014-04-03,37.538469,37.011167,37.283909,37.283909,36.063756,0.527302,0.054549,0.581851,0.581851,0.581851,0.459117,0.459117,36.522873,35.604639,36.981990,35.145522,37.441107,34.686405
2014-04-04,37.629383,36.038385,36.247488,36.247488,36.081254,1.590998,0.345474,1.245524,1.590998,1.590998,0.682766,0.682766,36.764020,35.398489,37.446786,34.715723,38.129551,34.032957
2014-04-07,36.611144,36.129299,36.183848,36.183848,36.091025,0.481845,0.363656,0.118189,0.481845,0.481845,1.480083,1.480083,37.571108,34.610942,39.051190,33.130860,40.531273,31.650777
2014-04-08,36.302036,35.638363,36.202030,36.202030,36.101597,0.663673,0.118188,0.545485,0.663673,0.663673,0.500028,0.500028,36.601625,35.601569,37.101653,35.101541,37.601680,34.601514
2014-04-09,36.865704,36.256579,36.792973,36.792973,36.167442,0.609125,0.663674,0.054549,0.663674,0.663674,0.663673,0.663673,36.831115,35.503769,37.494789,34.840096,38.158462,34.176423