### Load price history from the last EMA date, with ema of that date as well

In [73]:
"""
For some common calculation like EMA
"""

import pandas as pd

""" calculate EMA from a given price list, will roll the first SMA
"""
def xeam(x, period):

    # find the first non-NaN postion
    first_nn = x.index.get_loc(x.first_valid_index())
    
    # roll the first x days for fist SMA start point, roll for (period + first_nn rows) with windows (period)
    ema_rolling = x[:period + first_nn].rolling(period)

    # combine the first SMA with the rest close adj price
    ema_con = pd.concat([ema_rolling.mean(), x[period + first_nn:]])
    #ema_con.head(30)
    #df['ema_con'] = ema_con
    ema = ema_con.ewm(span=period, adjust=False).mean()

    return ema


""" 
calculate EMA from a given price list, with a given exists ema
in this case, the last given ema will be used for calculating and do NOT need roll the first SMA
"""
def cema(x, period):

    # calculate ema from the first value directly, which supposed to be an EMA value already
    # the rest of value should be adjusted close price

    ema = x.ewm(span=period, adjust=False).mean()

    return ema

In [46]:
import mysql.connector
import pandas as pd
import numpy as np

def load_stockdata(symbol):
    serverName = "localhost"
    cnx = mysql.connector.connect(user='michael', password='Password2017',
                                  host=serverName, database='stock_market')
    cursor = cnx.cursor()

    query = "SELECT price.symbol, price.effective_date, price.adj_close, ema.period, ema.ema as ema FROM \
            (SELECT * FROM (SELECT symbol, effective_date, `close`, `adj_close` FROM `market.stock_price` WHERE symbol = '{}' \
            ORDER BY effective_date DESC LIMIT 100) stock) price \
            LEFT JOIN `idc.ema` ema \
            ON ema.`symbol` = price.symbol AND ema.`effective_date` = price.effective_date \
            AND ema.`period` = 8 and ema.effective_date < '2017-10-10' \
            ORDER BY price.effective_date".format(symbol)

    cursor.execute(query)
    dfsql = pd.DataFrame(cursor.fetchall(), dtype=np.float)
    dfsql.columns = cursor.column_names
    dfsql.set_index('effective_date', inplace=True)
    return dfsql

In [47]:
df = load_stockdata('INTC')
df.head(20)
#df.to_csv("GPC.csv")

               symbol  adj_close  period        ema
effective_date
2017-09-29       INTC  37.638656     8.0  37.043200
2017-10-02       INTC  38.587529     8.0  37.386385
2017-10-03       INTC  38.923589     8.0  37.727986
2017-10-04       INTC  38.884053     8.0  37.984889
2017-10-05       INTC  39.071850     8.0  38.226436
2017-10-06       INTC  39.170691     8.0  38.436271
2017-10-09       INTC  39.398026     8.0  38.649994
2017-10-10       INTC  39.190460     NaN        NaN
2017-10-11       INTC  38.844516     NaN        NaN
2017-10-12       INTC  38.735791     NaN        NaN
2017-10-13       INTC  39.210228     NaN        NaN
2017-10-16       INTC  39.299185     NaN        NaN
2017-10-17       INTC  39.328837     NaN        NaN
2017-10-18       INTC  39.783506     NaN        NaN
2017-10-19       INTC  39.625360     NaN        NaN
2017-10-20       INTC  39.961419     NaN        NaN
2017-10-23       INTC  40.356784     NaN        NaN
2017-10-24       INTC  40.475393     NaN        NaN
2017-10-25       INTC  40.307363     NaN        NaN
2017-10-26       INTC  40.870757     NaN        NaN

### check exists ema and calculate differently

In [79]:
period = 8
fullcalculation = True
if ('ema' in df.columns):
    # if there is value then it will start be NOT a full run
    if not (df.ema.isnull().all()):
        # start split the ema column and merge to a new source series
        last_pos = df.index.get_loc(df.ema.last_valid_index())
        exist_ema = df.ema[:last_pos]   # right side is not included
        
        merge_price = ema_con = pd.concat([df.ema[last_pos:last_pos+1], df.adj_close[last_pos+1:]])
        
        cal_ema = cema(merge_price, period)
        df['ema'] = pd.concat([exist_ema, cal_ema])
        
        #fullcalculation = False
#merge_price
cal_ema

#print(fullcalculation)
# it's not decent structure but easier to handle the variables
#if (fullcalculation):
    # no ema and will conduct a full calculation
#    df['ema'] = xeam(df.adj_close, period)

df.head(20)

               symbol  adj_close  period        ema
effective_date
2017-09-29       INTC  37.638656     8.0  37.043200
2017-10-02       INTC  38.587529     8.0  37.386385
2017-10-03       INTC  38.923589     8.0  37.727986
2017-10-04       INTC  38.884053     8.0  37.984889
2017-10-05       INTC  39.071850     8.0  38.226436
2017-10-06       INTC  39.170691     8.0  38.436271
2017-10-09       INTC  39.398026     8.0  38.649994
2017-10-10       INTC  39.190460     NaN  38.770098
2017-10-11       INTC  38.844516     NaN  38.786635
2017-10-12       INTC  38.735791     NaN  38.775336
2017-10-13       INTC  39.210228     NaN  38.871979
2017-10-16       INTC  39.299185     NaN  38.966914
2017-10-17       INTC  39.328837     NaN  39.047341
2017-10-18       INTC  39.783506     NaN  39.210933
2017-10-19       INTC  39.625360     NaN  39.303028
2017-10-20       INTC  39.961419     NaN  39.449337
2017-10-23       INTC  40.356784     NaN  39.650992
2017-10-24       INTC  40.475393     NaN  39.834192
2017-10-25       INTC  40.307363     NaN  39.939341
2017-10-26       INTC  40.870757     NaN  40.146323

In [82]:
x = df.adj_close
e = df.ema
# start split the ema column and merge to a new source series
# find the last ema
last_pos = x.index.get_loc(e.last_valid_index())
exist_ema = e[:last_pos]   # right side is not included

merge_price = pd.concat([e[last_pos:last_pos+1], x[last_pos+1:]])
cal_ema = merge_price.ewm(span=period, adjust=False).mean()

# calculate ema from the first value directly, which supposed to be an EMA value already
# the rest of value should be adjusted close price
#cal_ema = cema(merge_price, period)
ema = pd.concat([exist_ema, cal_ema])
ema

effective_date
2017-09-29    37.043200
2017-10-02    37.386385
2017-10-03    37.727986
2017-10-04    37.984889
2017-10-05    38.226436
2017-10-06    38.436271
2017-10-09    38.649994
2017-10-10    38.770098
2017-10-11    38.786635
2017-10-12    38.775336
2017-10-13    38.871979
2017-10-16    38.966914
2017-10-17    39.047341
2017-10-18    39.210933
2017-10-19    39.303028
2017-10-20    39.449337
2017-10-23    39.650992
2017-10-24    39.834192
2017-10-25    39.939341
2017-10-26    40.146323
2017-10-27    40.977230
2017-10-30    41.616903
2017-10-31    42.360430
2017-11-01    43.206697
2017-11-02    43.950568
2017-11-03    44.362202
2017-11-06    44.821399
2017-11-07    45.256644
2017-11-09    45.488501
2017-11-10    45.508834
                ...
2018-01-11    44.173715
2018-01-12    43.959556
2018-01-16    43.777433
2018-01-17    43.913559
2018-01-18    44.039435
2018-01-19    44.212894
2018-01-22    44.554473
2018-01-23    44.889034
2018-01-24    45.024804
2018-01-25    45.085959
2018-01-26    46.195746
2018-01-29    47.036691
2018-01-30    47.426315
2018-01-31    47.584912
2018-02-01    47.599376
2018-02-02    47.277292
2018-02-05    46.744561
2018-02-06    46.336881
2018-02-07    46.084240
2018-02-08    45.343298
2018-02-09    45.015899
2018-02-12    44.974588
2018-02-13    44.860235
2018-02-14    44.975738
2018-02-15    45.185574
2018-02-16    45.268780
2018-02-20    45.502384
2018-02-21    45.599632
2018-02-22    45.644158
2018-02-23    46.107679
Length: 100, dtype: float64

### Append rolling columns

In [5]:
rolling = df["adj_close"].rolling(20)
df2 = pd.DataFrame()
df2['rolling'] = rolling.sum()
df2['sma20'] = rolling.mean()
df2['stdev'] = rolling.std(ddof=0)
df2['bollinger_bands_upper'] = df2['sma20'] + df2['stdev']
df2['bollinger_bands_lower'] = df2['sma20'] - df2['stdev']

df2.where((pd.notnull(df2)),None)
df2.head(30)

,rolling,sma20,stdev,bollinger_bands_upper,bollinger_bands_lower
effective_date,,,,,
2014-02-25,NaN,NaN,NaN,NaN,NaN
2014-02-26,NaN,NaN,NaN,NaN,NaN
2014-02-27,NaN,NaN,NaN,NaN,NaN
2014-02-28,NaN,NaN,NaN,NaN,NaN
2014-03-03,NaN,NaN,NaN,NaN,NaN
2014-03-04,NaN,NaN,NaN,NaN,NaN
2014-03-05,NaN,NaN,NaN,NaN,NaN
2014-03-06,NaN,NaN,NaN,NaN,NaN
2014-03-07,NaN,NaN,NaN,NaN,NaN
2014-03-10,NaN,NaN,NaN,NaN,NaN
2014-03-11,NaN,NaN,NaN,NaN,NaN
2014-03-12,NaN,NaN,NaN,NaN,NaN
2014-03-13,NaN,NaN,NaN,NaN,NaN
2014-03-14,NaN,NaN,NaN,NaN,NaN
2014-03-17,NaN,NaN,NaN,NaN,NaN
2014-03-18,NaN,NaN,NaN,NaN,NaN
2014-03-19,NaN,NaN,NaN,NaN,NaN
2014-03-20,NaN,NaN,NaN,NaN,NaN
2014-03-21,NaN,NaN,NaN,NaN,NaN
2014-03-24,699.211945,34.960597,0.845749,35.806346,34.114849
2014-03-25,701.757542,35.087877,0.900805,35.988682,34.187072
2014-03-26,703.866751,35.193338,0.898407,36.091745,34.294930
2014-03-27,705.230464,35.261523,0.888834,36.150357,34.372689
2014-03-28,707.039657,35.351983,0.931285,36.283268,34.420698
2014-03-31,709.958003,35.497900,0.989272,36.487172,34.508628
2014-04-01,712.694521,35.634726,1.084555,36.719281,34.550171
2014-04-02,715.640141,35.782007,1.139110,36.921117,34.642897
2014-04-03,718.240286,35.912014,1.154621,37.066635,34.757394
2014-04-04,720.031296,36.001565,1.106719,37.108284,34.894846
2014-04-07,721.831397,36.091570,1.042843,37.134413,35.048727

In [6]:
idcdic = df2.to_dict(orient='index')

# insert from the list
for date, row in idcdic.items():
    print(date, row)
    break

2014-02-25 {'rolling': nan, 'sma20': nan, 'stdev': nan, 'bollinger_bands_upper': nan, 'bollinger_bands_lower': nan}

## EWMA & ATR

In [18]:
# get the first SMA for the rolling windows
period = 20
rolling = df[:period]["adj_close"].rolling(period)
#rolling.mean()

# combine the first SMA with the rest close adj price
con = pd.concat([rolling.mean(), df[period:]['adj_close']])
#con.head(30)

dfewma = pd.DataFrame()
dfewma['adj_close'] = df['adj_close']
dfewma['concat'] = con
dfewma['ewma20'] = con.ewm(span=period, adjust=False).mean()
#dfewma['stdev'] = rolling.std(ddof=0)
#dfewma['bollinger_bands_upper'] = df2['sma20'] + df2['stdev']
#dfewma['bollinger_bands_lower'] = df2['sma20'] - df2['stdev']

dfewma = dfewma.where((pd.notnull(dfewma)),None)
dfewma.head(30)

               adj_close   concat   ewma20
effective_date
2014-02-25       34.1292     None     None
2014-02-26       34.0655     None     None
2014-02-27       34.4201     None     None
2014-02-28       34.8292     None     None
2014-03-03       34.3474     None     None
2014-03-04       34.9201     None     None
2014-03-05       34.6474     None     None
2014-03-06       34.6838     None     None
2014-03-07       34.4565     None     None
2014-03-10       34.3837     None     None
2014-03-11       34.5656     None     None
2014-03-12       34.7929     None     None
2014-03-13       34.4474     None     None
2014-03-14       34.2747     None     None
2014-03-17       34.5928     None     None
2014-03-18       35.9566     None     None
2014-03-19        35.702     None     None
2014-03-20       36.6657     None     None
2014-03-21       36.5111     None     None
2014-03-24       36.8202  34.9606  34.9606
2014-03-25       36.6748  36.6748  35.1239
2014-03-26       36.1748  36.1748  35.2239
2014-03-27       35.7838  35.7838  35.2773
2014-03-28       36.6384  36.6384  35.4069
2014-03-31       37.2657  37.2657  35.5839
2014-04-01       37.6567  37.6567  35.7813
2014-04-02        37.593   37.593  35.9539
2014-04-03       37.2839  37.2839  36.0805
2014-04-04       36.2475  36.2475  36.0964
2014-04-07       36.1838  36.1838  36.1048

# see another notebook for ATR