In [3]:
import pandas as pd
import numpy as np

In [60]:
import mysql.connector

def load_stockdata(symbol):
    serverName = "localhost"
    cnx = mysql.connector.connect(user='michael', password='Password2017',
                                  host=serverName, database='stock_market')
    cursor = cnx.cursor()
    
    query = \
    "SELECT stock.*, bb.`sma` AS bb_middle, bb.`band_upper` AS bb_upper, bb.`band_lower` AS bb_lower, \
    kc.`ema20` AS kc_middle, kc.`atr2_upper` AS kc_2_upper, kc.`atr2_lower` AS kc_2_lower, \
    kc.`atr3_upper` AS kc_3_upper, kc.`atr3_lower` AS kc_3_lower, \
    kc.`atr1_upper` AS kc_1_upper, kc.`atr1_lower` AS kc_1_lower, \
    macd.`macd_histogram` as macd, ttma.macd_histogram as wave_a, ttmb.macd_histogram as wave_b, ttmc.macd_histogram as wave_c \
    FROM \
    ( SELECT * FROM (SELECT symbol, effective_date, `adj_open`, `adj_high`, `adj_low`, `adj_close`, `adj_volume` FROM `market.stock_price` \
      WHERE symbol = '{0}' ORDER BY effective_date DESC LIMIT 18000) sub ORDER BY `effective_date` ASC ) stock \
    LEFT JOIN \
    `idc.bollinger_bands` AS bb ON bb.symbol = stock.symbol AND bb.effective_date = stock.effective_date \
    LEFT JOIN \
    `idc.keltner_channels` AS kc ON kc.symbol = stock.symbol AND kc.effective_date = stock.effective_date \
    LEFT JOIN \
    `idc.macd` as macd on macd.symbol = stock.symbol and macd.effective_date = stock.effective_date \
        and macd.short_period = 12 and macd.long_period=26 and macd.signal_period=9 \
    LEFT JOIN \
    `idc.macd` as ttma on ttma.symbol = stock.symbol and ttma.effective_date = stock.effective_date \
        and ttma.short_period = 8 and ttma.long_period=34 and ttma.signal_period=34 \
    LEFT JOIN \
    `idc.macd` as ttmb on ttmb.symbol = stock.symbol and ttmb.effective_date = stock.effective_date \
        and ttmb.short_period = 8 and ttmb.long_period=89 and ttmb.signal_period=89 \
    LEFT JOIN \
    `idc.macd` as ttmc on ttmc.symbol = stock.symbol and ttmc.effective_date = stock.effective_date \
        and ttmc.short_period = 8 and ttmc.long_period=144 and ttmc.signal_period=144 \
    ".format(symbol)

    cursor.execute(query)
    dfsql = pd.DataFrame(cursor.fetchall(), dtype=np.float)
    dfsql.columns = cursor.column_names
    dfsql.set_index('effective_date', inplace=True)
    cursor.close()
    return dfsql

In [ ]:
def drawInterChart(df):
    trace = go.Ohlc(x=df.date, open=df.open, high=df.high, low=df.low, close=df.close)
    data = [trace]
    layout = {
        'title': 'Stock Chart',
        'yaxis': {'title': 'Price'},
        'shapes': [{
            'x0': '2016-12-09', 'x1': '2016-12-09',
            'y0': 0, 'y1': 1, 'xref': 'x', 'yref': 'paper',
            'line': {'color': 'rgb(30,30,30)', 'width': 1}
        }],
        'annotations': [{
            'x': '2016-12-09', 'y': 0.05, 'xref': 'x', 'yref': 'paper',
            'showarrow': False, 'xanchor': 'left',
            'text': 'Increase Period Begins'
        }]
    }
    fig = dict(data=data, layout=layout)
    
    # 
    # embbeded chart
    #plotly.offline.iplot(fig)
    
    # standalone chart
    plotly.offline.plot(fig)
    
    # online chart 
    # py.iplot(fig, filename='appl-recession-candlestick')

In [61]:
df = load_stockdata('MSFT')
df['macd_up'] = df.macd > df.macd.shift(-1)
df['squeeze'] = (df.bb_lower >= df.kc_2_lower) & (df.bb_upper <= df.kc_2_upper)
df['squeeze_value'] = 0
df.head(20)

,symbol,adj_open,adj_high,adj_low,adj_close,adj_volume,bb_middle,bb_upper,bb_lower,kc_middle,...,kc_3_lower,kc_1_upper,kc_1_lower,macd,wave_a,wave_b,wave_c,macd_up,squeeze,squeeze_value
effective_date,,,,,,,,,,,,,,,,,,,,,
2018-02-23,MSFT,92.750,94.0700,92.3600,94.06,25779955.0,91.4595,96.304368,86.614632,91.155589,...,84.161341,93.487005,88.824173,NaN,NaN,NaN,NaN,False,False,0
2018-02-22,MSFT,92.050,92.7300,91.3600,91.74,22723756.0,91.3730,96.089126,86.656874,90.849861,...,83.855286,93.181386,88.518336,NaN,NaN,NaN,NaN,False,False,0
2018-02-21,MSFT,92.980,93.3595,91.4900,91.49,26081953.0,91.3770,96.094500,86.659500,90.756163,...,83.539699,93.161651,88.350675,NaN,NaN,NaN,NaN,False,False,0
2018-02-20,MSFT,91.475,93.0600,91.0100,92.72,30107057.0,91.3975,96.120346,86.674654,90.678917,...,83.338763,93.125635,88.232199,NaN,NaN,NaN,NaN,False,False,0
2018-02-16,MSFT,92.450,93.5000,91.8000,92.00,30188535.0,91.3420,96.027316,86.656684,90.464066,...,83.032361,92.941301,87.986831,NaN,NaN,NaN,NaN,False,False,0
2018-02-15,MSFT,91.210,92.7200,90.6200,92.66,27407914.0,91.2420,95.952178,86.531822,90.302389,...,82.691323,92.839411,87.765367,NaN,NaN,NaN,NaN,False,False,0
2018-02-14,MSFT,88.510,90.9900,88.4100,90.81,34314101.0,91.1140,95.802170,86.425830,90.054219,...,82.342302,92.624858,87.483580,NaN,NaN,NaN,NaN,False,False,0
2018-02-13,MSFT,88.930,90.0000,87.8000,89.83,26200053.0,91.0805,95.786422,86.374578,89.974663,...,82.264906,92.544582,87.404744,NaN,NaN,NaN,NaN,False,False,0
2018-02-12,MSFT,88.735,89.7800,87.9295,89.13,35501368.0,91.0065,95.833732,86.179268,89.989891,...,82.194769,92.588265,87.391517,NaN,NaN,NaN,NaN,False,False,0
2018-02-09,MSFT,86.300,88.9300,83.8300,88.10,57408480.0,91.0290,95.825132,86.232868,90.080405,...,82.112696,92.736308,87.424502,NaN,NaN,NaN,NaN,False,False,0
2018-02-08,MSFT,89.710,89.8750,84.7600,84.89,47485202.0,91.0280,95.826582,86.229418,90.288869,...,82.885181,92.756765,87.820973,NaN,NaN,NaN,NaN,False,False,0
2018-02-07,MSFT,90.490,91.7700,89.2000,89.61,40340551.0,91.1745,95.353468,86.995532,90.857171,...,84.064355,93.121443,88.592899,NaN,NaN,NaN,NaN,False,True,0
2018-02-06,MSFT,86.890,91.4750,85.2500,91.33,66157030.0,91.1050,95.429436,86.780564,90.988452,...,84.266187,93.229207,88.747697,NaN,NaN,NaN,NaN,False,True,0
2018-02-05,MSFT,90.560,93.2400,88.0800,89.05,42253469.0,90.9525,95.446242,86.458758,90.952500,...,85.149678,92.886774,89.018226,NaN,NaN,NaN,NaN,False,False,0
2018-02-02,MSFT,93.640,93.9700,91.5000,91.78,47076959.0,90.9095,95.490842,86.328158,91.116296,...,86.057870,92.802438,89.430154,NaN,NaN,NaN,NaN,False,False,0
2018-02-01,MSFT,94.790,96.0700,93.5813,94.26,46645657.0,90.6760,95.524330,85.827670,91.046433,...,86.235822,92.649970,89.442896,NaN,NaN,NaN,NaN,False,False,0
2018-01-31,MSFT,93.750,95.4000,93.5100,95.01,44284284.0,90.2805,95.185034,85.375966,90.708162,...,86.101818,92.243610,89.172714,NaN,NaN,NaN,NaN,False,False,0
2018-01-30,MSFT,93.300,93.6600,92.1000,92.74,34153798.0,89.8275,94.572038,85.082962,90.255337,...,85.908505,91.704281,88.806393,NaN,NaN,NaN,NaN,False,False,0
2018-01-29,MSFT,95.140,95.4500,93.7200,93.92,30409620.0,89.4675,94.363644,84.571356,89.993794,...,85.732591,91.414195,88.573393,NaN,NaN,NaN,NaN,False,False,0
2018-01-26,MSFT,93.120,94.0600,92.5800,94.06,26348999.0,89.0575,93.763202,84.351798,89.580509,...,85.390751,90.977095,88.183923,NaN,NaN,NaN,NaN,False,False,0

In [64]:
from datetime import timedelta
# find the last 6 month as x axis range
range_enddate = df.index.max()
range_startdate = range_enddate + timedelta(weeks=-24)

# find the min & max in the range
#high = df[df.index > range_startdate].adj_close.max()
#low = df[df.index > range_startdate].adj_close.min()

#df[df.index < range_enddate + timedelta(weeks=-250)]
df.drop(df[df.index < range_enddate + timedelta(weeks=-250)].index)

,symbol,adj_open,adj_high,adj_low,adj_close,adj_volume,bb_middle,bb_upper,bb_lower,kc_middle,...,kc_3_lower,kc_1_upper,kc_1_lower,macd,wave_a,wave_b,wave_c,macd_up,squeeze,squeeze_value
effective_date,,,,,,,,,,,,,,,,,,,,,
2018-02-23,MSFT,92.750000,94.070000,92.360000,94.060000,25779955.0,91.459500,96.304368,86.614632,91.155589,...,84.161341,93.487005,88.824173,NaN,NaN,NaN,NaN,False,False,0
2018-02-22,MSFT,92.050000,92.730000,91.360000,91.740000,22723756.0,91.373000,96.089126,86.656874,90.849861,...,83.855286,93.181386,88.518336,NaN,NaN,NaN,NaN,False,False,0
2018-02-21,MSFT,92.980000,93.359500,91.490000,91.490000,26081953.0,91.377000,96.094500,86.659500,90.756163,...,83.539699,93.161651,88.350675,NaN,NaN,NaN,NaN,False,False,0
2018-02-20,MSFT,91.475000,93.060000,91.010000,92.720000,30107057.0,91.397500,96.120346,86.674654,90.678917,...,83.338763,93.125635,88.232199,NaN,NaN,NaN,NaN,False,False,0
2018-02-16,MSFT,92.450000,93.500000,91.800000,92.000000,30188535.0,91.342000,96.027316,86.656684,90.464066,...,83.032361,92.941301,87.986831,NaN,NaN,NaN,NaN,False,False,0
2018-02-15,MSFT,91.210000,92.720000,90.620000,92.660000,27407914.0,91.242000,95.952178,86.531822,90.302389,...,82.691323,92.839411,87.765367,NaN,NaN,NaN,NaN,False,False,0
2018-02-14,MSFT,88.510000,90.990000,88.410000,90.810000,34314101.0,91.114000,95.802170,86.425830,90.054219,...,82.342302,92.624858,87.483580,NaN,NaN,NaN,NaN,False,False,0
2018-02-13,MSFT,88.930000,90.000000,87.800000,89.830000,26200053.0,91.080500,95.786422,86.374578,89.974663,...,82.264906,92.544582,87.404744,NaN,NaN,NaN,NaN,False,False,0
2018-02-12,MSFT,88.735000,89.780000,87.929500,89.130000,35501368.0,91.006500,95.833732,86.179268,89.989891,...,82.194769,92.588265,87.391517,NaN,NaN,NaN,NaN,False,False,0
2018-02-09,MSFT,86.300000,88.930000,83.830000,88.100000,57408480.0,91.029000,95.825132,86.232868,90.080405,...,82.112696,92.736308,87.424502,NaN,NaN,NaN,NaN,False,False,0
2018-02-08,MSFT,89.710000,89.875000,84.760000,84.890000,47485202.0,91.028000,95.826582,86.229418,90.288869,...,82.885181,92.756765,87.820973,NaN,NaN,NaN,NaN,False,False,0
2018-02-07,MSFT,90.490000,91.770000,89.200000,89.610000,40340551.0,91.174500,95.353468,86.995532,90.857171,...,84.064355,93.121443,88.592899,NaN,NaN,NaN,NaN,False,True,0
2018-02-06,MSFT,86.890000,91.475000,85.250000,91.330000,66157030.0,91.105000,95.429436,86.780564,90.988452,...,84.266187,93.229207,88.747697,NaN,NaN,NaN,NaN,False,True,0
2018-02-05,MSFT,90.560000,93.240000,88.080000,89.050000,42253469.0,90.952500,95.446242,86.458758,90.952500,...,85.149678,92.886774,89.018226,NaN,NaN,NaN,NaN,False,False,0
2018-02-02,MSFT,93.640000,93.970000,91.500000,91.780000,47076959.0,90.909500,95.490842,86.328158,91.116296,...,86.057870,92.802438,89.430154,NaN,NaN,NaN,NaN,False,False,0
2018-02-01,MSFT,94.790000,96.070000,93.581300,94.260000,46645657.0,90.676000,95.524330,85.827670,91.046433,...,86.235822,92.649970,89.442896,NaN,NaN,NaN,NaN,False,False,0
2018-01-31,MSFT,93.750000,95.400000,93.510000,95.010000,44284284.0,90.280500,95.185034,85.375966,90.708162,...,86.101818,92.243610,89.172714,NaN,NaN,NaN,NaN,False,False,0
2018-01-30,MSFT,93.300000,93.660000,92.100000,92.740000,34153798.0,89.827500,94.572038,85.082962,90.255337,...,85.908505,91.704281,88.806393,NaN,NaN,NaN,NaN,False,False,0
2018-01-29,MSFT,95.140000,95.450000,93.720000,93.920000,30409620.0,89.467500,94.363644,84.571356,89.993794,...,85.732591,91.414195,88.573393,NaN,NaN,NaN,NaN,False,False,0
2018-01-26,MSFT,93.120000,94.060000,92.580000,94.060000,26348999.0,89.057500,93.763202,84.351798,89.580509,...,85.390751,90.977095,88.183923,NaN,NaN,NaN,NaN,False,False,0
2018-01-25,MSFT,92.465000,93.240000,91.930000,92.330000,23983094.0,88.640000,92.962332,84.317668,89.108984,...,85.281983,90.384651,87.833317,NaN,NaN,NaN,NaN,False,False,0
2018-01-24,MSFT,92.550000,93.430000,91.580000,91.820000,32107765.0,88.293500,92.486186,84.100814,88.769929,...,84.976234,90.034494,87.505364,NaN,NaN,NaN,NaN,False,False,0
2018-01-23,MSFT,91.900000,92.300000,91.540000,91.900000,22283365.0,87.978000,92.008234,83.947766,88.448869,...,84.790276,89.668400,87.229338,NaN,NaN,NaN,NaN,False,False,0
2018-01-22,MSFT,90.000000,91.620000,89.740000,91.610000,23190700.0,87.658000,91.397634,83.918366,88.085592,...,84.320952,89.340472,86.830712,NaN,NaN,NaN,NaN,False,False,0
2018-01-19,MSFT,90.140000,90.610000,89.660000,90.000000,34896964.0,87.353500,90.730560,83.976440,87.714602,...,84.094220,88.921396,86.507808,NaN,NaN,NaN,NaN,False,False,0
2018-01-18,MSFT,89.800000,90.670000,89.660000,90.100000,22931303.0,87.145000,90.353436,83.936564,87.474034,...,83.794393,88.700581,86.247487,NaN,NaN,NaN,NaN,False,False,0
2018-01-17,MSFT,89.080000,90.280000,88.750000,90.140000,24659472.0,86.959000,89.878986,84.039014,87.197616,...,83.468001,88.440821,85.954411,NaN,NaN,NaN,NaN,False,False,0
2018-01-16,MSFT,90.100000,90.790000,88.010400,88.350000,35945428.0,86.794500,89.323670,84.265330,86.887892,...,83.316770,88.078266,85.697518,NaN,NaN,NaN,NaN,False,False,0
2018-01-12,MSFT,88.670000,89.780000,88.450000,89.580000,24000439.0,86.611500,89.193090,84.029910,86.733985,...,83.529607,87.802111,85.665859,NaN,NaN,NaN,NaN,False,False,0
2018-01-11,MSFT,88.130000,88.130000,87.240000,88.080000,16529868.0,86.400000,88.645342,84.154658,86.434405,...,83.375845,87.453925,85.414885,NaN,NaN,NaN,NaN,False,False,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2013-06-21,MSFT,29.931105,29.993350,29.388681,29.579863,85338500.0,30.937656,31.966080,29.909232,30.598191,...,28.912848,31.159972,30.036410,NaN,NaN,NaN,NaN,False,False,0
2013-06-20,MSFT,30.464636,30.526881,29.673231,29.779938,54493700.0,30.977004,31.841824,30.112184,30.705384,...,29.029938,31.263866,30.146902,NaN,NaN,NaN,NaN,False,False,0
2013-06-19,MSFT,31.087089,31.202688,30.758078,30.758078,30816200.0,31.026800,31.704658,30.348942,30.802799,...,29.248823,31.320791,30.284807,NaN,NaN,NaN,NaN,False,True,0
2013-06-18,MSFT,31.095981,31.273825,31.029290,31.104874,28616500.0,31.038360,31.705292,30.371428,30.807507,...,29.236596,31.331144,30.283870,NaN,NaN,NaN,NaN,False,True,0
2013-06-17,MSFT,30.847000,31.264933,30.793647,31.122658,49670100.0,31.042806,31.712630,30.372982,30.776205,...,29.140887,31.321311,30.231099,NaN,NaN,NaN,NaN,False,True,0
2013-06-14,MSFT,30.722509,30.847089,30.455744,30.589127,53192600.0,31.037026,31.705990,30.368062,30.739736,...,29.134580,31.274788,30.204684,NaN,NaN,NaN,NaN,False,True,0
2013-06-13,MSFT,31.113766,31.140442,30.758078,30.869231,45654900.0,31.022799,31.739651,30.305947,30.755590,...,29.122381,31.299993,30.211187,NaN,NaN,NaN,NaN,False,True,0
2013-06-12,MSFT,31.247149,31.362747,30.989275,31.122658,37372700.0,30.984118,31.805768,30.162468,30.743628,...,29.073024,31.300496,30.186760,NaN,NaN,NaN,NaN,False,True,0
2013-06-11,MSFT,31.167119,31.282717,30.838108,30.980383,39435900.0,30.918760,31.881732,29.955788,30.703730,...,28.992857,31.274021,30.133439,NaN,NaN,NaN,NaN,False,False,0
2013-06-10,MSFT,31.576159,31.700650,31.247149,31.540591,35994500.0,30.828281,32.055017,29.601545,30.674608,...,28.994239,31.234731,30.114485,NaN,NaN,NaN,NaN,False,False,0
2013-06-07,MSFT,31.344963,31.816249,31.176011,31.718434,40757300.0,30.694777,32.143457,29.246097,30.583452,...,28.882584,31.150408,30.016496,NaN,NaN,NaN,NaN,False,False,0
2013-06-06,MSFT,30.980383,31.220472,30.669156,31.087089,37618500.0,30.551057,32.129517,28.972597,30.463980,...,28.800543,31.018459,29.909501,NaN,NaN,NaN,NaN,False,False,0
2013-06-05,MSFT,30.766970,31.024844,30.615803,30.927030,46025100.0,30.453476,32.125826,28.781126,30.398390,...,28.734224,30.953112,29.843668,NaN,NaN,NaN,NaN,False,False,0
2013-06-04,MSFT,31.673974,31.780680,30.919027,31.113766,65529500.0,30.378029,32.093705,28.662353,30.342744,...,28.665477,30.901833,29.783655,NaN,NaN,NaN,NaN,False,False,0
2013-06-03,MSFT,31.051520,31.682866,30.971491,31.647297,51252600.0,30.312675,32.010757,28.614593,30.261584,...,28.654142,30.797398,29.725770,NaN,NaN,NaN,NaN,False,False,0
2013-05-31,MSFT,30.962599,31.371639,30.935922,31.033736,56165700.0,30.209162,31.819320,28.599004,30.115719,...,28.548789,30.638029,29.593409,NaN,NaN,NaN,NaN,False,False,0
2013-05-30,MSFT,30.989275,31.344963,30.956374,31.149334,51131000.0,30.121756,31.733170,28.510342,30.019086,...,28.432173,30.548057,29.490115,NaN,NaN,NaN,NaN,False,False,0
2013-05-29,MSFT,30.891461,31.140442,30.740294,31.015952,38412200.0,30.009140,31.632328,28.385952,29.900112,...,28.280805,30.439881,29.360343,NaN,NaN,NaN,NaN,False,False,0
2013-05-28,MSFT,30.606911,31.282717,30.598019,31.140442,48212100.0,29.919974,31.507676,28.332272,29.782655,...,28.131128,30.333164,29.232146,NaN,NaN,NaN,NaN,False,False,0
2013-05-24,MSFT,30.162302,30.482420,30.144517,30.472639,33174400.0,29.802945,31.358269,28.247621,29.639730,...,28.048101,30.170273,29.109187,NaN,NaN,NaN,NaN,False,False,0
2013-05-23,MSFT,30.437959,30.722509,30.144517,30.366822,51102700.0,29.683097,31.376783,27.989411,29.552056,...,27.915973,30.097417,29.006695,NaN,NaN,NaN,NaN,False,False,0
2013-05-22,MSFT,30.935922,30.980383,30.553558,30.775863,66047500.0,29.575164,31.353806,27.796522,29.466291,...,27.850050,30.005038,28.927544,NaN,NaN,NaN,NaN,False,False,0
2013-05-21,MSFT,31.211580,31.364970,30.873677,30.989275,48702400.0,29.438830,31.246206,27.631454,29.328441,...,27.688425,29.875113,28.781769,NaN,NaN,NaN,NaN,False,False,0
2013-05-20,MSFT,30.882569,31.207134,30.838108,31.193795,54020800.0,29.240602,31.188484,27.292720,29.153616,...,27.500820,29.704548,28.602684,NaN,NaN,NaN,NaN,False,False,0
2013-05-17,MSFT,30.349126,31.007059,30.322361,31.007059,60666700.0,29.042305,30.961733,27.122877,28.938861,...,27.244086,29.503786,28.373936,NaN,NaN,NaN,NaN,False,False,0
2013-05-16,MSFT,29.913320,30.366822,29.833291,30.304577,59382900.0,28.806316,30.857516,26.755116,28.721156,...,27.058124,29.275500,28.166812,NaN,NaN,NaN,NaN,False,False,0
2013-05-15,MSFT,29.744369,30.144517,29.726584,30.095610,46303900.0,28.562397,30.971861,26.152933,28.554480,...,26.886645,29.110425,27.998535,NaN,NaN,NaN,NaN,False,False,0
2013-05-14,MSFT,29.219819,29.815506,29.166377,29.815506,56870100.0,28.330471,30.985423,25.675519,28.392256,...,26.692573,28.958817,27.825695,NaN,NaN,NaN,NaN,False,False,0
2013-05-13,MSFT,28.799871,29.206125,28.746882,29.170799,36027600.0,28.118954,30.936060,25.301848,28.242440,...,26.561813,28.802649,27.682231,NaN,NaN,NaN,NaN,False,False,0
2013-05-10,MSFT,28.852861,28.897019,28.543755,28.870524,36394900.0,27.927309,30.946377,24.908241,28.144718,...,26.440790,28.712694,27.576742,NaN,NaN,NaN,NaN,False,False,0

In [42]:
#[macd, up in df.macd_histogram, df.macd_up]
df.to_csv("GPC.csv")

In [ ]:
#[ row.macd > 0 & row.macd_up for row in df]
#df['color'] = ('green' if (df['macd'] > 0).bool() else 'red')
#[row['macd'] for row in df.iterrows()]
colordict = []
for index, row in df.iterrows():
    
    color =  '#029107' if (row['macd']>=0 and row['macd_up']==True) else \
            ('#0599b7' if (row['macd']>=0 and row['macd_up']==False) else \
            ('#871001' if (row['macd']<0 and row['macd_up']==False) else '#d35004' ))
    colordict.append(color)
    #print(index, row['macd'], row['macd_up'], color)

In [6]:
import plotly
import plotly.plotly as py
import plotly.graph_objs as go

In [39]:
def multi_chart(df):
    
    style_bollingerbands_middle = dict( color = ('rgb(22, 96, 167)'), width = 1, dash = 'dot')
    style_bollingerbands_upper = dict( color = ('rgb(22, 96, 167)'), width = 1, dash = 'line')
    style_bollingerbands_lower = dict( color = ('rgb(91, 154, 255)'), width = 1, dash = 'line')

    style_kc_middle = dict( color = ('rgb(247, 94, 39)'), width = 1, dash = 'dot')
    style_kc2_upper = dict( color = ('rgb(247, 94, 39)'), width = 1, dash = 'line')
    style_kc2_lower = dict( color = ('rgb(244, 118, 73)'), width = 1, dash = 'line')

    style_kc3_upper = dict( color = ('rgb(46, 155, 53)'), width = 1, dash = 'line')
    style_kc3_lower = dict( color = ('rgb(68, 206, 77)'), width = 1, dash = 'line')

    style_kc1_upper = dict( color = ('rgb(244, 78, 66)'), width = 1, dash = 'line')
    style_kc1_lower = dict( color = ('rgb(198, 70, 61)'), width = 1, dash = 'line')

    trace_candle = go.Candlestick(x=df.index, open=df.adj_open, high=df.adj_high, low=df.adj_low, close=df.adj_close, 
                         showlegend=False, name='close price',
                         increasing=dict(line=dict(color= '#b1e2b6')),
                         decreasing=dict(line=dict(color= '#51150e'))
                         ,hoverinfo='y'
                        )

    trace_ohlc = go.Ohlc(x=df.index, open=df.adj_open, high=df.adj_high, low=df.adj_low, close=df.adj_close, 
                         showlegend=False, name='close price',
                         increasing=dict(line=dict(color= '#b1e2b6')),
                         decreasing=dict(line=dict(color= '#51150e'))
                         #,hoverinfo='none'
                        )
    
    trace_bb_middle = go.Scatter(x=df.index, y=df.bb_middle, name='BB Middle', legendgroup='Bollinger Bands',
                                 showlegend=False, opacity=0.5, hoverinfo='none',
                                 line = style_bollingerbands_middle
                                )
    trace_bb_upper = go.Scatter(x=df.index, y=df.bb_upper, name='BB Upper', legendgroup='Bollinger Bands',
                                line = style_bollingerbands_upper
                               )
    trace_bb_lower = go.Scatter(x=df.index, y=df.bb_lower, name='BB Lower', legendgroup='Bollinger Bands',
                                line = style_bollingerbands_lower
                               )
    
    trace_kc_middle = go.Scatter(x=df.index, y=df.kc_middle, name='KC Middle', legendgroup='Keltner Channels 2ATR',
                                 showlegend=False, opacity=0.5, hoverinfo='none',
                                 line = style_kc_middle
                                )
    trace_kc_2atr_upper = go.Scatter(x=df.index, y=df.kc_2_upper, name='KC 2ATR Upper', legendgroup='Keltner Channels 2ATR',
                                     line = style_kc2_upper
                                    )
    trace_kc_2atr_lower = go.Scatter(x=df.index, y=df.kc_2_lower, name='KC 2ATR Lower', legendgroup='Keltner Channels 2ATR',
                                     line = style_kc2_lower
                                    )

    # create volume bar chart on the bottom
    tarce_volume = go.Bar(x=df.index, y=df.adj_volume, name='volume', showlegend=False, marker=dict(color='rgb(87, 91, 130)'),
                          yaxis = 'y2'
                         )

    # color dict for MACD and Squeeze indicator
    colordict = []
    colorsqueeze = []
    for index, row in df.iterrows():

        color =  '#029107' if (row['macd']>=0 and row['macd_up']==True) else \
                ('#0599b7' if (row['macd']>=0 and row['macd_up']==False) else \
                ('#600601' if (row['macd']<0 and row['macd_up']==False) else '#d35004' ))
        colordict.append(color)

        color_s = '#f21104' if row['squeeze'] else '#404241'
        colorsqueeze.append(color_s)
        #df['squeeze_color'] = '#930c02' if df.squeeze else '#0cb703'
        
    trace_macd = go.Bar(x=df.index, y=df.macd, name='MACD(12/26/9)', showlegend=False, 
                        marker=dict(color=colordict),
                        yaxis = 'y3'
                       )

    trace_squeeze = go.Scatter(x=df.index, y=df.squeeze_value, name='', showlegend=False, 
                        mode = 'markers', marker=dict(size=6, color=colorsqueeze), hoverinfo='none',
                        yaxis = 'y3'
                       )

    trace_wave_a = go.Bar(x=df.index, y=df.wave_a, name='WAVE A(8/34/34)', showlegend=False, 
                    marker=dict(color=['#029107' if val>=0 else '#871001' for val in df.wave_a]),
                    yaxis = 'y4'
                   )

    trace_wave_b = go.Bar(x=df.index, y=df.wave_b, name='WAVE B(8/89/89)', showlegend=False, 
                marker=dict(color=['#029107' if val>=0 else '#871001' for val in df.wave_b]),
                yaxis = 'y5'
               )
    trace_wave_c = go.Bar(x=df.index, y=df.wave_c, name='WAVE C(8/144/144)', showlegend=False, 
                    marker=dict(color=['#029107' if val>=0 else '#871001' for val in df.wave_c]),
                    yaxis = 'y6'
                   )

    
    data = [trace_candle, trace_bb_middle, trace_kc_middle,
            trace_bb_upper, trace_bb_lower, trace_kc_2atr_upper, trace_kc_2atr_lower, 
            #tarce_volume, 
            trace_macd, trace_squeeze, trace_wave_a, trace_wave_b, trace_wave_c]
    
    
    axis_template = dict(showgrid=True, zeroline=True, showline=True, rangeslider=dict(visible=False), fixedrange=True)
    layout = go.Layout(
        title = 'John Carter TTM Squeeze',
        height=1000,
        paper_bgcolor='#000', plot_bgcolor='#000',
        margin = go.Margin(l=80,r=30,t=50,b=100),
        xaxis = axis_template,
        yaxis = dict(domain=[0.45,1]),
        # yaxis2 = dict(domain=[0.4,0.5], visible=False),
        yaxis3 = dict(domain=[0.3,0.4], title='MACD'),
        yaxis4 = dict(domain=[0.2,0.3], visible=True, title="WAVEA"),
        yaxis5 = dict(domain=[0.1,0.2], visible=True, title="WAVEB"),
        yaxis6 = dict(domain=[0,0.1], visible=True, title="WAVEC"),
        legend = dict(x=0.05, y=1.0)
    )

    fig = go.Figure(data=data, layout=layout)
    # standalone chart
    plotly.offline.plot(fig, "multi chart")

In [43]:
multi_chart(df)