### Load MSFT 1Y history

In [2]:
import mysql.connector
import pandas as pd
import numpy as np

def load_stockdata(symbol):
    serverName = "localhost"
    cnx = mysql.connector.connect(user='michael', password='Password2017',
                                  host=serverName, database='stock_market')
    cursor = cnx.cursor()
    
    query = "select * from (SELECT effective_date, `close`, `adj_close` FROM `market.stock_price` WHERE symbol = '{0}' order\
            by effective_date DESC limit 1000) sub order by effective_date ASC".format(symbol)
    
    cursor.execute(query)
    dfsql = pd.DataFrame(cursor.fetchall(), dtype=np.float)
    dfsql.columns = cursor.column_names
    dfsql.set_index('effective_date', inplace=True)
    return dfsql

In [3]:
df = load_stockdata('MSFT')
df.head()

                close  adj_close
effective_date
2014-02-25      37.54  34.129187
2014-02-26      37.47  34.065547
2014-02-27      37.86  34.420112
2014-02-28      38.31  34.829226
2014-03-03      37.78  34.347381

### Use rolling window function to caculate mean / deviation

In [4]:
roll = df.rolling(20)
roll.sum().dropna().head()

                 close   adj_close
effective_date
2014-03-24      769.09  699.211945
2014-03-25      771.89  701.757542
2014-03-26      774.21  703.866751
2014-03-27      775.71  705.230464
2014-03-28      777.70  707.039657

### Append rolling columns

In [5]:
rolling = df["adj_close"].rolling(20)
df2 = pd.DataFrame()
df2['rolling'] = rolling.sum()
df2['sma20'] = rolling.mean()
df2['stdev'] = rolling.std(ddof=0)
df2['bollinger_bands_upper'] = df2['sma20'] + df2['stdev']
df2['bollinger_bands_lower'] = df2['sma20'] - df2['stdev']

df2.where((pd.notnull(df2)),None)
df2.head(30)

,rolling,sma20,stdev,bollinger_bands_upper,bollinger_bands_lower
effective_date,,,,,
2014-02-25,NaN,NaN,NaN,NaN,NaN
2014-02-26,NaN,NaN,NaN,NaN,NaN
2014-02-27,NaN,NaN,NaN,NaN,NaN
2014-02-28,NaN,NaN,NaN,NaN,NaN
2014-03-03,NaN,NaN,NaN,NaN,NaN
2014-03-04,NaN,NaN,NaN,NaN,NaN
2014-03-05,NaN,NaN,NaN,NaN,NaN
2014-03-06,NaN,NaN,NaN,NaN,NaN
2014-03-07,NaN,NaN,NaN,NaN,NaN
2014-03-10,NaN,NaN,NaN,NaN,NaN
2014-03-11,NaN,NaN,NaN,NaN,NaN
2014-03-12,NaN,NaN,NaN,NaN,NaN
2014-03-13,NaN,NaN,NaN,NaN,NaN
2014-03-14,NaN,NaN,NaN,NaN,NaN
2014-03-17,NaN,NaN,NaN,NaN,NaN
2014-03-18,NaN,NaN,NaN,NaN,NaN
2014-03-19,NaN,NaN,NaN,NaN,NaN
2014-03-20,NaN,NaN,NaN,NaN,NaN
2014-03-21,NaN,NaN,NaN,NaN,NaN
2014-03-24,699.211945,34.960597,0.845749,35.806346,34.114849
2014-03-25,701.757542,35.087877,0.900805,35.988682,34.187072
2014-03-26,703.866751,35.193338,0.898407,36.091745,34.294930
2014-03-27,705.230464,35.261523,0.888834,36.150357,34.372689
2014-03-28,707.039657,35.351983,0.931285,36.283268,34.420698
2014-03-31,709.958003,35.497900,0.989272,36.487172,34.508628
2014-04-01,712.694521,35.634726,1.084555,36.719281,34.550171
2014-04-02,715.640141,35.782007,1.139110,36.921117,34.642897
2014-04-03,718.240286,35.912014,1.154621,37.066635,34.757394
2014-04-04,720.031296,36.001565,1.106719,37.108284,34.894846
2014-04-07,721.831397,36.091570,1.042843,37.134413,35.048727

In [6]:
idcdic = df2.to_dict(orient='index')

# insert from the list
for date, row in idcdic.items():
    print(date, row)
    break

2014-02-25 {'rolling': nan, 'sma20': nan, 'stdev': nan, 'bollinger_bands_upper': nan, 'bollinger_bands_lower': nan}

## EWMA & ATR

In [18]:
# get the first SMA for the rolling windows
period = 20
rolling = df[:period]["adj_close"].rolling(period)
#rolling.mean()

# combine the first SMA with the rest close adj price
con = pd.concat([rolling.mean(), df[period:]['adj_close']])
#con.head(30)

dfewma = pd.DataFrame()
dfewma['adj_close'] = df['adj_close']
dfewma['concat'] = con
dfewma['ewma20'] = con.ewm(span=period, adjust=False).mean()
#dfewma['stdev'] = rolling.std(ddof=0)
#dfewma['bollinger_bands_upper'] = df2['sma20'] + df2['stdev']
#dfewma['bollinger_bands_lower'] = df2['sma20'] - df2['stdev']

dfewma = dfewma.where((pd.notnull(dfewma)),None)
dfewma.head(30)

               adj_close   concat   ewma20
effective_date
2014-02-25       34.1292     None     None
2014-02-26       34.0655     None     None
2014-02-27       34.4201     None     None
2014-02-28       34.8292     None     None
2014-03-03       34.3474     None     None
2014-03-04       34.9201     None     None
2014-03-05       34.6474     None     None
2014-03-06       34.6838     None     None
2014-03-07       34.4565     None     None
2014-03-10       34.3837     None     None
2014-03-11       34.5656     None     None
2014-03-12       34.7929     None     None
2014-03-13       34.4474     None     None
2014-03-14       34.2747     None     None
2014-03-17       34.5928     None     None
2014-03-18       35.9566     None     None
2014-03-19        35.702     None     None
2014-03-20       36.6657     None     None
2014-03-21       36.5111     None     None
2014-03-24       36.8202  34.9606  34.9606
2014-03-25       36.6748  36.6748  35.1239
2014-03-26       36.1748  36.1748  35.2239
2014-03-27       35.7838  35.7838  35.2773
2014-03-28       36.6384  36.6384  35.4069
2014-03-31       37.2657  37.2657  35.5839
2014-04-01       37.6567  37.6567  35.7813
2014-04-02        37.593   37.593  35.9539
2014-04-03       37.2839  37.2839  36.0805
2014-04-04       36.2475  36.2475  36.0964
2014-04-07       36.1838  36.1838  36.1048

# see another notebook for ATR