In [4]:
from crossreference import *
import repository.simpleindicatorrepo as idc

In [5]:
print(idc.exists_sma('AAPL',20))
ema12 = idc.load_ema('AAPL',12)
ema26 = idc.load_ema('AAPL',26)

ema12.head()

True

                     ema
effective_date
1980-12-30      0.443082
1980-12-31      0.452116
1981-01-02      0.460598
1981-01-05      0.466078
1981-01-06      0.467323

In [6]:
import pandas as pd
import numpy as np

In [83]:
df = pd.DataFrame(index=ema12.index)
df['short_ema'] = ema12.ema
df['long_ema'] = ema26.ema
df['macd'] = ema12 - ema26
df['macd_ema'] = xema(df.macd,9)
df['macd_histogram'] = df.macd - df.macd_ema
df.head(30)

                short_ema  long_ema      macd  macd_ema  macd_histogram
effective_date
1980-12-30       0.443082       NaN       NaN       NaN             NaN
1980-12-31       0.452116       NaN       NaN       NaN             NaN
1981-01-02       0.460598       NaN       NaN       NaN             NaN
1981-01-05       0.466078       NaN       NaN       NaN             NaN
1981-01-06       0.467323       NaN       NaN       NaN             NaN
1981-01-07       0.465276       NaN       NaN       NaN             NaN
1981-01-08       0.462120       NaN       NaN       NaN             NaN
1981-01-09       0.463136       NaN       NaN       NaN             NaN
1981-01-12       0.463408       NaN       NaN       NaN             NaN
1981-01-13       0.461105       NaN       NaN       NaN             NaN
1981-01-14       0.459450       NaN       NaN       NaN             NaN
1981-01-15       0.459452       NaN       NaN       NaN             NaN
1981-01-16       0.458888       NaN       NaN       NaN             NaN
1981-01-19       0.462641       NaN       NaN       NaN             NaN
1981-01-20       0.463577  0.457495  0.006082       NaN             NaN
1981-01-21       0.465772  0.459002  0.006770       NaN             NaN
1981-01-22       0.468465  0.460801  0.007664       NaN             NaN
1981-01-23       0.470473  0.462335  0.008138       NaN             NaN
1981-01-26       0.471041  0.463212  0.007829       NaN             NaN
1981-01-27       0.470957  0.463751  0.007206       NaN             NaN
1981-01-28       0.468623  0.463161  0.005462       NaN             NaN
1981-01-29       0.464092  0.461384  0.002708       NaN             NaN
1981-01-30       0.456594  0.457974 -0.001380  0.005609       -0.006989
1981-02-02       0.446585  0.453053 -0.006468  0.003193       -0.009661
1981-02-03       0.440355  0.449574 -0.009219  0.000711       -0.009930
1981-02-04       0.437346  0.447443 -0.010097 -0.001451       -0.008646
1981-02-05       0.434800  0.445469 -0.010669 -0.003294       -0.007375
1981-02-06       0.432939  0.443783 -0.010844 -0.004804       -0.006040
1981-02-09       0.427972  0.440588 -0.012616 -0.006367       -0.006249
1981-02-10       0.423769  0.437630 -0.013861 -0.007865       -0.005996

In [75]:
def xema(x, period):
    
    first_nn = df.index.get_loc(x.first_valid_index())
    
    # roll the first x days for fist SMA start point
    ema_rolling = x[:period + first_nn].rolling(period)

    # combine the first SMA with the rest close adj price
    ema_con = pd.concat([ema_rolling.mean(), x[period + first_nn:]])
    #ema_con.head(30)
    #df['ema_con'] = ema_con
    ema = ema_con.ewm(span=period, adjust=False).mean()
    #return df

    return ema

In [80]:
#df.dropna()
#df.dropna().macd
#e = ema(df.dropna().macd,9)

period = 9
x = df.macd
print (x)
first_nn = df.index.get_loc(x.first_valid_index())
print(first_nn)

# roll the first x days for fist SMA start point
ema_rolling = x[:period + first_nn].rolling(period)
ema_rolling.mean()

# combine the first SMA with the rest close adj price
#ema_con = pd.concat([ema_rolling.mean(), x[period + first_nn:]])
#ema_con.head(30)
#df['ema_con'] = ema_con
#ema = ema_con.ewm(span=period, adjust=False).mean()


#type(df.macd)
#df.dropna(df.macd)

#e = xema(df.dropna().macd,9)
#df['ema'] = e
#df.index.get_loc(df.macd.first_valid_index())
##e = xema(df.macd,9)
#e

effective_date
1980-12-30         NaN
1980-12-31         NaN
1981-01-02         NaN
1981-01-05         NaN
1981-01-06         NaN
1981-01-07         NaN
1981-01-08         NaN
1981-01-09         NaN
1981-01-12         NaN
1981-01-13         NaN
1981-01-14         NaN
1981-01-15         NaN
1981-01-16         NaN
1981-01-19         NaN
1981-01-20    0.006082
1981-01-21    0.006770
1981-01-22    0.007664
1981-01-23    0.008138
1981-01-26    0.007829
1981-01-27    0.007206
1981-01-28    0.005462
1981-01-29    0.002708
1981-01-30   -0.001380
1981-02-02   -0.006468
1981-02-03   -0.009219
1981-02-04   -0.010097
1981-02-05   -0.010669
1981-02-06   -0.010844
1981-02-09   -0.012616
1981-02-10   -0.013861
                ...
2018-01-11    0.940475
2018-01-12    1.149119
2018-01-16    1.227697
2018-01-17    1.507406
2018-01-18    1.722137
2018-01-19    1.806930
2018-01-22    1.736305
2018-01-23    1.664375
2018-01-24    1.650877
2018-01-25    1.107858
2018-01-26    0.701700
2018-01-29    0.092298
2018-01-30   -0.465181
2018-01-31   -0.859955
2018-02-01   -1.131531
2018-02-02   -1.922521
2018-02-05   -2.750075
2018-02-06   -2.925168
2018-02-07   -3.307418
2018-02-08   -3.905848
2018-02-09   -4.278342
2018-02-12   -3.983760
2018-02-13   -6.382628
2018-02-14   -5.574098
2018-02-15   -4.428792
2018-02-16   -3.525675
2018-02-20   -2.824193
2018-02-21   -2.304637
2018-02-22   -1.749262
2018-02-23   -1.058479
Name: macd, Length: 9367, dtype: float64
14

effective_date
1980-12-30         NaN
1980-12-31         NaN
1981-01-02         NaN
1981-01-05         NaN
1981-01-06         NaN
1981-01-07         NaN
1981-01-08         NaN
1981-01-09         NaN
1981-01-12         NaN
1981-01-13         NaN
1981-01-14         NaN
1981-01-15         NaN
1981-01-16         NaN
1981-01-19         NaN
1981-01-20         NaN
1981-01-21         NaN
1981-01-22         NaN
1981-01-23         NaN
1981-01-26         NaN
1981-01-27         NaN
1981-01-28         NaN
1981-01-29         NaN
1981-01-30    0.005609
Name: macd, dtype: float64

In [84]:
import adhoc_process as adhoc

In [86]:
adhoc.patch_symbol_macd('AMZN',12,26,9)
adhoc.patch_symbol_macd('AMZN',8,34,34)
adhoc.patch_symbol_macd('AMZN',8,89,89)
adhoc.patch_symbol_macd('AMZN',8,144,144)

In [4]:
import idc_process as idcproc

In [6]:
idcproc.process_keltnerchannels('MSFT',20,14)