In [4]:
from crossreference import *
import repository.simpleindicatorrepo as idc

In [10]:
#print(idc.exists_sma('AAPL',20))
ema12 = idc.load_ema('AAPL',12)
ema26 = idc.load_ema('AAPL',26)

ema12.head()

                     ema
effective_date
1980-12-30      0.443082
1980-12-31      0.452116
1981-01-02      0.460598
1981-01-05      0.466078
1981-01-06      0.467323

In [6]:
import pandas as pd
import numpy as np

In [18]:
df = pd.DataFrame(index=ema12.index)
df['short_ema'] = ema12.ema
df['long_ema'] = ema26.ema
df['macd'] = ema12 - ema26
df['macd_ema'] = df.macd.ewm(span=9, adjust=False).mean()
df['macd_histogram'] = df.macd - df.macd_ema
df.head(30)

                short_ema  long_ema      macd  macd_ema  macd_histogram
effective_date
1980-12-30       0.443082       NaN       NaN       NaN             NaN
1980-12-31       0.452116       NaN       NaN       NaN             NaN
1981-01-02       0.460598       NaN       NaN       NaN             NaN
1981-01-05       0.466078       NaN       NaN       NaN             NaN
1981-01-06       0.467323       NaN       NaN       NaN             NaN
1981-01-07       0.465276       NaN       NaN       NaN             NaN
1981-01-08       0.462120       NaN       NaN       NaN             NaN
1981-01-09       0.463136       NaN       NaN       NaN             NaN
1981-01-12       0.463408       NaN       NaN       NaN             NaN
1981-01-13       0.461105       NaN       NaN       NaN             NaN
1981-01-14       0.459450       NaN       NaN       NaN             NaN
1981-01-15       0.459452       NaN       NaN       NaN             NaN
1981-01-16       0.458888       NaN       NaN       NaN             NaN
1981-01-19       0.462641       NaN       NaN       NaN             NaN
1981-01-20       0.463577  0.457495  0.006082  0.006082        0.000000
1981-01-21       0.465772  0.459002  0.006770  0.006220        0.000550
1981-01-22       0.468465  0.460801  0.007664  0.006508        0.001156
1981-01-23       0.470473  0.462335  0.008138  0.006834        0.001304
1981-01-26       0.471041  0.463212  0.007829  0.007033        0.000796
1981-01-27       0.470957  0.463751  0.007206  0.007068        0.000138
1981-01-28       0.468623  0.463161  0.005462  0.006747       -0.001285
1981-01-29       0.464092  0.461384  0.002708  0.005939       -0.003231
1981-01-30       0.456594  0.457974 -0.001380  0.004475       -0.005855
1981-02-02       0.446585  0.453053 -0.006468  0.002287       -0.008755
1981-02-03       0.440355  0.449574 -0.009219 -0.000015       -0.009204
1981-02-04       0.437346  0.447443 -0.010097 -0.002031       -0.008066
1981-02-05       0.434800  0.445469 -0.010669 -0.003759       -0.006910
1981-02-06       0.432939  0.443783 -0.010844 -0.005176       -0.005668
1981-02-09       0.427972  0.440588 -0.012616 -0.006664       -0.005952
1981-02-10       0.423769  0.437630 -0.013861 -0.008103       -0.005758

In [1]:
import adhoc_process as adhoc

In [5]:
adhoc.patch_symbol_macd('AAPL',8,144,144)

In [4]:
import idc_process as idcproc

In [6]:
idcproc.process_keltnerchannels('MSFT',20,14)