In [1]:
from crossreference import *
import chart.johncartersqueeze as jcsqueeze

In [2]:
import pandas as pd
import numpy as np
import datetime

In [3]:
import mysql.connector

def load_stockdata(symbol):
    serverName = "localhost"
    cnx = mysql.connector.connect(user='michael', password='Password2017',
                                  host=serverName, database='stock_market')
    cursor = cnx.cursor()
    
    query = \
    "SELECT stock.*, bb.`sma` AS bb_middle, bb.`band_upper` AS bb_upper, bb.`band_lower` AS bb_lower, \
    kc.`ema20` AS kc_middle, kc.`atr2_upper` AS kc_2_upper, kc.`atr2_lower` AS kc_2_lower, \
    kc.`atr3_upper` AS kc_3_upper, kc.`atr3_lower` AS kc_3_lower, \
    kc.`atr1_upper` AS kc_1_upper, kc.`atr1_lower` AS kc_1_lower, \
    macd.`macd_histogram` as macd, ttma.macd_histogram as wave_a, ttmb.macd_histogram as wave_b, ttmc.macd_histogram as wave_c \
    FROM \
    ( SELECT * FROM (SELECT symbol, effective_date, `adj_open`, `adj_high`, `adj_low`, `adj_close`, `adj_volume` FROM `market.stock_price` \
      WHERE symbol = '{0}' ORDER BY effective_date DESC LIMIT 180) sub ORDER BY `effective_date` ASC ) stock \
    LEFT JOIN \
    `idc.bollinger_bands` AS bb ON bb.symbol = stock.symbol AND bb.effective_date = stock.effective_date \
    LEFT JOIN \
    `idc.keltner_channels` AS kc ON kc.symbol = stock.symbol AND kc.effective_date = stock.effective_date \
    LEFT JOIN \
    `idc.macd` as macd on macd.symbol = stock.symbol and macd.effective_date = stock.effective_date \
        and macd.short_period = 12 and macd.long_period=26 and macd.signal_period=9 \
    LEFT JOIN \
    `idc.macd` as ttma on ttma.symbol = stock.symbol and ttma.effective_date = stock.effective_date \
        and ttma.short_period = 8 and ttma.long_period=34 and ttma.signal_period=34 \
    LEFT JOIN \
    `idc.macd` as ttmb on ttmb.symbol = stock.symbol and ttmb.effective_date = stock.effective_date \
        and ttmb.short_period = 8 and ttmb.long_period=89 and ttmb.signal_period=89 \
    LEFT JOIN \
    `idc.macd` as ttmc on ttmc.symbol = stock.symbol and ttmc.effective_date = stock.effective_date \
        and ttmc.short_period = 8 and ttmc.long_period=144 and ttmc.signal_period=144 \
    ".format(symbol)

    cursor.execute(query)
    dfsql = pd.DataFrame(cursor.fetchall(), dtype=np.float)
    dfsql.columns = cursor.column_names
    dfsql.set_index('effective_date', inplace=True)
    cursor.close()
    return dfsql

In [11]:
df = load_stockdata('ALB')
# df['macd_up'] = df.macd > df.macd.shift(-1)
#df['squeeze'] = (df.bb_lower >= df.kc_2_lower) & (df.bb_upper <= df.kc_2_upper)
df.head(20)

,symbol,adj_open,adj_high,adj_low,adj_close,adj_volume,bb_middle,bb_upper,bb_lower,kc_middle,kc_2_upper,kc_2_lower,kc_3_upper,kc_3_lower,kc_1_upper,kc_1_lower,macd,wave_a,wave_b,wave_c
effective_date,,,,,,,,,,,,,,,,,,,,
2018-02-23,ALB,115.84,118.8300,115.610,118.75,2136021.0,110.7305,117.948046,103.512954,114.322225,122.308841,106.335609,126.302149,102.342301,118.315533,110.328917,1.512123,NaN,NaN,NaN
2018-02-22,ALB,113.88,114.7499,113.155,113.68,1021914.0,110.6380,117.479698,103.796302,113.856143,121.664805,106.047481,125.569136,102.143150,117.760474,109.951812,1.124417,NaN,NaN,NaN
2018-02-21,ALB,115.35,116.5000,112.870,113.01,1765680.0,110.5740,117.324008,103.823992,113.874684,122.016336,105.733032,126.087162,101.662206,117.945510,109.803858,0.992081,NaN,NaN,NaN
2018-02-20,ALB,112.00,115.3900,112.000,114.58,1420025.0,110.5735,117.322788,103.824212,113.965704,122.175176,105.756232,126.279912,101.651496,118.070440,109.860968,0.834333,NaN,NaN,NaN
2018-02-16,ALB,114.36,114.5900,111.960,112.24,1668940.0,110.5210,117.160250,103.881750,113.901041,122.220471,105.581611,126.380186,101.421896,118.060756,109.741326,0.424773,NaN,NaN,NaN
2018-02-15,ALB,112.43,114.6500,111.380,114.61,1746847.0,110.7095,117.736046,103.682954,114.075887,122.627581,105.524193,126.903428,101.248346,118.351734,109.800040,0.048849,0.016886,-11.484235,-17.977815
2018-02-14,ALB,107.18,112.1600,106.630,111.72,2051713.0,110.8745,118.397140,103.351860,114.019665,122.726105,105.313225,127.079325,100.960005,118.372885,109.666445,-0.719983,-1.263551,-13.092772,-19.493402
2018-02-13,ALB,111.60,112.6000,108.084,108.45,2756593.0,111.6360,121.922492,101.349508,114.261735,122.787133,105.736337,127.049832,101.473638,118.524434,109.999036,-1.515640,-2.309295,-14.312913,-20.577146
2018-02-12,ALB,109.28,112.1500,109.010,111.59,2636101.0,112.6135,125.003652,100.223348,114.873496,123.359924,106.387068,127.603138,102.143854,119.116710,110.630282,-0.125272,-2.890232,-14.896071,-20.978917
2018-02-09,ALB,106.00,108.7100,103.750,107.72,2572130.0,113.7100,129.069476,98.350524,115.219128,123.676820,106.761436,127.905666,102.532590,119.447974,110.990282,-0.660643,-4.221437,-16.302500,-22.218789
2018-02-08,ALB,106.94,108.7000,105.140,105.18,2375923.0,115.0585,132.650990,97.466010,116.008510,124.353716,107.663304,128.526319,103.490701,120.181113,111.835907,-0.997590,-5.010373,-16.955540,-22.652705
2018-02-07,ALB,107.46,109.4800,106.560,106.63,1663015.0,116.4475,135.058094,97.836906,117.148353,125.587805,108.708901,129.807531,104.489175,121.368079,112.928627,-1.127600,-5.287812,-16.938672,-22.380267
2018-02-06,ALB,103.51,108.5199,103.310,107.54,2898636.0,117.8880,137.659708,98.116292,118.255548,126.894958,109.616138,131.214663,105.296433,122.575253,113.935843,-1.326459,-5.718005,-17.072949,-22.261788
2018-02-05,ALB,104.28,109.9000,102.850,105.15,3819187.0,119.3835,140.290258,98.476742,119.383500,127.885958,110.881042,132.137187,106.629813,123.634729,115.132271,-1.567651,-6.236182,-17.269143,-22.202325
2018-02-02,ALB,108.52,109.1200,104.920,105.51,2714732.0,120.7120,141.204734,100.219266,117.717916,125.789794,109.646038,129.825733,105.610099,121.753855,113.681977,-1.525035,-6.124362,-16.680588,-21.325910
2018-02-01,ALB,110.92,111.5700,108.960,109.20,1961798.0,121.9475,141.586914,102.308086,119.002960,127.037290,110.968630,131.054455,106.951465,123.020125,114.985795,-1.318880,-5.731381,-15.770482,-20.125257
2018-01-31,ALB,111.85,112.0800,110.250,111.59,2575450.0,123.0770,142.246734,103.907266,120.034850,128.282590,111.787110,132.406460,107.663240,124.158720,115.910980,-1.213649,-5.703266,-15.318585,-19.411931
2018-01-30,ALB,112.38,113.7400,111.050,111.37,2126100.0,124.0740,142.819748,105.328252,120.923782,129.524424,112.323140,133.824745,108.022819,125.224103,116.623461,-1.150671,-5.917329,-15.149507,-18.996575
2018-01-29,ALB,114.23,114.4600,111.310,111.68,2223182.0,124.9000,142.769192,107.030808,121.929443,130.777827,113.081059,135.202019,108.656867,126.353635,117.505251,-0.899039,-5.891680,-14.678942,-18.270412
2018-01-26,ALB,117.00,117.8150,114.010,114.41,1887725.0,125.7385,142.592654,108.884346,123.008332,132.052746,113.963918,136.574953,109.441711,127.530539,118.486125,-0.425614,-5.645865,-13.950973,-17.284448

In [12]:
jcsqueeze.drawchart('MSFT', df)

In [6]:
import repository.stockpricerepo as pricerepo

In [8]:
df = pricerepo.get_stock_adjdata('ALB', datetime.date(2017,1,1), datetime.date(2018,2,20))
df.head()

                 adj_open   adj_high    adj_low  adj_close  adj_volume
effective_date
2017-01-03      86.418382  87.375281  86.249809  87.310827    975594.0
2017-01-04      87.975202  90.384802  87.945454  89.938580   1147617.0
2017-01-05      89.879084  90.622788  88.976723  89.631183    913202.0
2017-01-06      89.859252  90.236062  89.105632  90.047657    550924.0
2017-01-09      89.968328  90.216229  89.611350  89.720427    936082.0

In [6]:
import repository.simpleindicatorrepo as pricerepo

ImportError: cannot import name 'indicatorrepo'